*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headerBgColor: #9cbfa5;
    --headerTxtColor:#000000;
    --bgColor: #f5fbe4;
    --txtColor:#0b0b0b; 
    --footerBgColor: #f5fbe4;
    --footerTxtColor: #0b0b0b; 
    --linkColor: #3f3401;
    --visitedLinkColor:#7c0048;
    --flagColor: rgb(218,103,66);
    --font-body-family: "Futura", sans-serif;
    --articleBgColor: #c9dec4;
    --headerHeigth: 10em;
}


html{
    font-size: 150%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    /*background-image: url(../images/bg.png);*/
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bgColor);
}

header{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    padding: 1em;
    border-bottom: 0.12em solid var(--headerTxtColor); 
    border-radius: 0.12em;

    height: var(--headerHeigth);

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 4em auto;
}

.navigationhelp{
    position: absolute;
    text-indent: -999em;
}


a:link{
    color: var(--linkColor);
}

a:visited{
    color: var(--visitedLinkColor);
}

header h1{
    grid-row: 1;
    grid-column: 1;
    margin-left: 0.5em;
    width: 20%;
    margin-right: 0em;
    font-size: 2.5em;
    line-height: 1em;
    align-self: center;
}

header  #breadcrumb{
    grid-row: 2;
    grid-column: 1 / span 2;
    justify-self:auto;
    padding: 1em;
    font-size: 1.3em;
}

/*icona menu hamburger*/
header #menu-toggle{
    display: none;
}

header .mobile-menu::before,
header .mobile-menu,
header .mobile-menu::after{
    grid-row: 1;
    grid-column: 2;
    
    display: block;
    background-color: var(--headerTxtColor);
    height: 0.3em;
    width: 2.5em;
    border-radius: 0.25em;
}

header .mobile-menu{
    margin-right: 1.5em;
    align-self: center;
    justify-self: end;
}


header .mobile-menu::before{
    content: '';
    margin-top: -0.8em;
}

header .mobile-menu::after {
    content: '';
    margin-top: 1.3em;
}


#menu {
    position: absolute;
    top: 0em;
    margin-top: var(--headerHeigth);
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#menu {
    display: none;
}

#menu-toggle:checked + .mobile-menu + #menu {
    display: block;
}

#menu-toggle:not(:checked)  #menu {
    display: none;
}

header #menu li {
    display: flex;
    justify-content: center;
    padding: 1.5em;
    width: 100%;
    color: var(--headerTxtColor);
    background-color: var(--headerBgColor);
}


header #menu ul {
    padding: 0em;
    margin: 0em;
    width: 100%;
}

#menu  li:not(:last-child) {
border-bottom: 0.1em solid #444;
}

main{
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1.0em;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    width: 80%;
    border-top: 3px solid var(--footerTxtColor); 
    border-radius: 3px;
}

#socialList{
    max-width: 1024px;
    margin: auto;
    padding: 1em;
    list-style-type: none;
    text-align: center;
}

#socialList li{
    display: inline-block;
    width: 15%;
    margin: 0 0.5em;
    
}


/* News */

#news_4{
	background-image: url('../img/news/bidoni.jpg');
}

#news_3{
	background-image: url('../img/news/calendario.jpg');
}

#news_2{
	background-image: url('../img/news/educazione.jpg');
}

#news_1{
	background-image: url('../img/news/alluvione.jpg');
}



#content.news {
    margin-top: 0em;
}

#content.news h2{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#content.news .newsImg{
    /*le immagini vanno messe con rateo 3:2*/
    background-color: var(--articleBgColor);
    background-size:cover;
    background-position: center;
    height: 15.5em; /*tmp*/
    width: 23.25em;
    display: block;
    margin: auto;
    border-radius: 1em; 
}

#content.news h3{
    margin-top: 0.5em;
}

#content.news article{
    display: block;
    border: 0.05em solid var(--headerTxtColor); 
    border-radius: 0.5em; 
    padding: 1em; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    background-color: var(--articleBgColor);
}

/* Detailed News */

#detailedNewsImage{
	background-image: url('../img/news/alluvione.jpg');
}

#content.detailedNews{
    display: block;
    margin-top: 0em;
}

#content.detailedNews h2{ 
    text-align: left;
    margin-top: 1em;
}

#content.detailedNews h3{
    margin-top: 0.4em;
    font-weight: normal;
    font-size: 1em;
}

#content.detailedNews #detailedNewsImage {
    /*le immagini vanno messe con rateo 3:2*/
    background-color: var(--bgColor);
    background-size:cover;
    background-position: center;
    height: 15.5em; 
    width: 23.25em;
    display: block;
    margin: auto;
    margin-top: 1em;
}

#content.detailedNews .newsArticle{
    margin-top: 1em;
    margin-bottom: 1em;
}

#content.detailedNews .newsArticle li{
    margin-left: 1em;
}

/*index*/

#wrapper .home {

    display: block;
    text-align: center;
    margin: 1em;
}

#wrapper .home p{
    margin:1em;
}

#index_segnalazioni-button{
    background-color: var(--headerBgColor);
    padding: 2em;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    max-width: 300px;
    text-align: center;

    display: flex;
    flex-direction: column;

} 

main.home h2{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}


/* servizi*/

#servizi_wrapper{
    display: block;
    text-align: center;
    margin: 1em;

}

#servizi_wrapper > .left{
    margin-bottom: 3em;
}

#servizi_wrapper > .right {
    display: none;

}

#servizi_content.servizi h2 {
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
    
}

#servizi_section1 h3{
    text-align: center;

}


#servizi_section2 div.servizi_container.servizi_section2Content{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

#servizi_section2 div.servizi_serviceDescription{
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    width: 100%;
}

#servizi_section2  div.servizi_serviceDescription div.sec2{
    display: none;

} 

#servizi_section2 div.servizi_serviceContainer{
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a{


    background-color: var(--headerBgColor) ;
    color: var(--linkColor);
    text-align: center;
    padding-left: 0;
    border-radius: 10px;
    padding: 0.5em; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 1.2em;
}

#servizi_section2 p {
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 1.5em;
}

#servizi_section2 h3 {
    font-size: 1.5em;
}

#servizi_section3{
    text-align: center;
    margin-top: 4em;
    font-size: 1.3em;


}

#servizi_section4 div.servizi_reasonContainer{
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;

    justify-content: space-between;

}

#servizi_section4 div.servizi_reasonContainer h4{
    font-size: 1.2em;
    text-align: center;
    padding-right: 0em;

}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer div.servizi_reasonContent p{

    text-align: center;


}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer div.servizi_reasonContent {
    padding:1em;
    
}

/*IMPIANTI*/

#impianti_content{
    text-align: center;


}

#impianti_content h3{
    text-align: center;
}

section.impianti_impianti {
    text-align: center;
}

#impianto1-wrapper,#impianto2-wrapper,#impianto3-wrapper,#impianto4-wrapper {
    max-width: 100%;
    text-align: left;
}

#impianto1-wrapper h2{
    text-align: center;
}

#impianto1-wrapper h3{
    text-align: center;
}




#impianto2-wrapper h2{
    text-align: center;
}
#impianto2-wrapper h3{
    text-align: center;
}



#impianto3-wrapper h2{
    text-align: center;
}
#impianto3-wrapper h3{
    text-align: center;
}


#impianto4-wrapper h2{
    text-align: center;
}
#impianto4-wrapper h3{
    text-align: center;
}




/*SMALTIMENTO*/
#smaltimento_content-wrapper h3{
    max-width: 100%;
    text-align: center;
}
#smaltimento_content-wrapper p {
    max-width: 100%;

}

/*RECUPERO E RACCOLTA*/

#raccolta_content-wrapper p{
    max-width: 100%;

}
#raccolta_content-wrapper h3{
    max-width: 100%;
    text-align: center;
}

/*BONIFICHE*/

#bonifiche_content h3{
    max-width: 100%;
    text-align: center;

}
#bonifiche_content p{
    max-width: 100%;
}



/* PRONTO INTERVENTO */

#intervento_content h3 {
    max-width: 100%;
    text-align: center;
    

}

#intervento_content p{
    max-width: 100%;

}

#intervento_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
}


/*DOVE LO BUTTO */

#carta p{
    max-width: 100%;
}

#carta h3{
    max-width: 100%;
    text-align: center;
}

#plastica p{
    max-width: 100%;
}
#plastica h3{
    max-width: 100%;
    text-align: center;
}


#umido p{
    max-width: 100%;
}
#umido h3{
    max-width: 100%;
    text-align: center;
}


#secco p{
    max-width: 100%;
}
#secco h3{
    max-width: 100%;
    text-align: center;
}

#altro p{
    max-width: 100%;

}

#altro h3{
    max-width: 100%;
    text-align: center;

}


/*SEGNALAZIONI*/
.segnalazioni thead{
    display: none;
}

.segnalazioni tr, .segnalazioni  th, .segnalazioni  td{
    display: block;
}

.segnalazioni th{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor)
}

.segnalazioni td[data-title]:before{
    content: attr(data-title) ":\00A0"; /*SPAZIO*/
    font-weight: bold;;
}

.segnalazioni tr{
    border: 1px solid black;
}

.segnalazioni td.inCarico {

    font-size: 2em;
    height: 2em; 
}


/*LOGIN*/

#content fieldset{
    width: 100%;
    padding: 5em;
}

input#loginemail{
    padding: 3em;
}

input#loginpass{
    padding: 3em;
}

input{
    padding: 2em;
}

legend{
    font-size: 40%;
}

/*DASHBOARD*/

main#content .dashboard{
    width: 90%;
    margin-top: 5em ;
}

.dashboard h2{
    font-size:50px;
}

.dashboard-button{
    font-size: 40px;
}


/*PROFILO*/

.profilo p{
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 70%;
    text-align: center;
    background-color: var(--headerBgColor);
    font-size: x-large;
}