*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headerBgColor: #ffffff;
    --headerTxtColor:#000000;
    --bgColor: #ffffff;
    --txtColor:#0b0b0b; 
    --footerBgColor: #ffffff;
    --footerTxtColor: #0b0b0b; 
    --linkColor: #000000;
    --visitedLinkColor:#000000;
    --font-body-family: "Times New Roman", Times, serif;
    --articleBgColor: #ffffff;
    /*calendario*/
    --calTitleBgColor: #ffffff;
    --calHeaderWeekBgColor: #d2d2d2;
    --calHeaderWeekendBgColor: #afafaf;
    --calToday:#a4a4a4;
    --calTitleColor: #000000;
    --calBgColor: #000000;
    --calElemBgColor: #ffffff;
    --warningmsg: #000000;
}

html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    font-size:12pt;
    text-align: justify;
    /*background-image: url(../images/bg.png);*/
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bgColor);
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

header{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    padding: 1em 1em 0em 1em;
    border-bottom: 3px solid var(--headerTxtColor); 
    border-radius: 3px;
}

header > h1{
    text-indent: -999em;
    content: url("../img/icons/logo.png");
    background-image: none;
    line-height: 1.5em;
    height: 2em;
    width: 2em;

    color:var(--headerTxtColor);
    font-size: 3em;
    margin:0.2em auto 0.2em auto;
    text-align: center;
}

.navigationhelp{
    position: absolute;
    text-indent: -999em;
}

header nav #menu{
    display: none;
}

a:link{
    color: var(--linkColor);
}

a:visited{
    color: var(--visitedLinkColor);
}

#togglemenu{
    display: none;
}

#menu ul{
    display: none;
}

#breadcrumb {
    margin: auto;
    margin-top: 0;
    margin-left: 0em;
    text-align: left;
    padding:0;
    
}

main{
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

/* index */

.home {
    margin-top: 1em;
}

.home #wrapper {
    display: block;
}

.home #wrapper p{
    margin-top: 0.5em;
}

#index_segnalazioni-button{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1em auto 3em auto;
    max-width: 400px;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    padding:0;
}

#index_segnalazioni-button a {
    padding: 1em;
    display: block;
}

.home #wrapper > .right{
    display: none;
}

.home #wrapper p:last-child{
    display: none;
}


/* News */

#news_4{
	background-image: url('../img/news/bidoni.jpg');
}

#news_3{
	background-image: url('../img/news/calendario.jpg');
}

#news_2{
	background-image: url('../img/news/educazione.jpg');
}

#news_1{
	background-image: url('../img/news/alluvione.jpg');
}



#content.news {
    margin-top: 0em;
}

#content.news h2{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#content.news article{
    border: 0.075em solid var(--headerTxtColor); 
    border-radius: 0.5em; 
    padding: 1em; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.75em;
    background-color: var(--articleBgColor);
    display: block;
}

#content.news .newsImg{
    display: none;
 }
 
 #content.news h3{
    margin-top: 0.5em;
} 

#content.news article p{
    margin-top: 1em;
}


/* Detailed News */

#detnewstitlemobile{
    display: none;
}

#content.detailedNews{
    margin-top: 2em;
}

#content.detailedNews h2{ 
    text-align: left;
    margin-top: 0em;
}

#content.detailedNews h3{
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 1em;
}

#content.detailedNews #detailedNewsImage {
    display: none;
}

#content.detailedNews .newsArticle{
    margin-top: 1em;
    margin-bottom: 1em;
    grid-row: 3;
    grid-column: 1 / span 2;
}

#content.detailedNews .newsArticle li{
    margin-left: 1em;
}

/*Inserisci Notizia*/
.FormNotizia p{
    max-width: 1024px;
    margin:auto;
    text-align: justify;
    margin-bottom:1em;
}

form#notizia{
    margin-bottom: 0.5em;
}

form#notizia label{
    display: block;
    padding-left:1em;
    font-size: 1em;
    margin-top:0.5em;
}

form#notizia fieldset{
    border-radius: 0px 20px 20px 20px;
    padding:1em;
    width:80%;
}

form#notizia legend{
    padding-left:0.25em;
}

form#notizia input{
    margin:0;
    width:100%;
    font-size: 1em;
    padding:0.7em;
    border:2px solid black;
}

form#notizia input#subformnot{
    margin:0.7em 0em 0.7em 0em;
    cursor: pointer;
}

form#notizia input#data{
    padding:0.7em;
}

form#notizia textarea{
    resize: none;
    width:100%;
    border-radius: 10px;
    padding:0.5em;
    height:7vh;
    background-color: var(--bgButtonColor);
    border:2px solid black;
    font-size: 1em;
}

form#notizia textarea:focus{
    outline: 3px solid #007bff;
}

/* SERVIZI */

#servizi_content.servizi h2 {
    text-align: center;
    margin-top: 1em;
}

#servizi_section1 h3{
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
}

#servizi_wrapper {
    display: block;
}

#servizi_wrapper p{
    text-align: justify;
}


#servizi_wrapper > .left{
    margin-bottom: 3em;
    margin-top: 2em;
    border: 2px solid var(--headerTxtColor); 
    border-radius: 10px; 
    padding: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--headerBgColor);
}

#servizi_section2 div.servizi_container.servizi_section2Content{
    margin-top: 1em;
}

#servizi_section2 div.servizi_serviceDescription{
    flex-grow: 0;
    flex-shrink: 1;
    text-align: left;
}

 #servizi_section2  div.servizi_serviceDescription div.sec2{
    display: none;
} 

#servizi_section2 div.servizi_serviceContainer{
    width: 100%;
}

#servizi_section2 div.servizi_serviceBoxContainer{
    padding: 0.5em;
}

#servizi_section2 div.servizi_serviceBoxContainer h3{
    padding: 0.5em;
    font-size: 100%;
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--headerBgColor);
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--headerTxtColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
    width: 100%; 
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a{
    background-color: var(--headerBgColor) ;
    color: var(--linkColor);
    text-align: center;
    padding-left: 0;
    border-radius: 10px;
    padding: 0.5em; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.5em;
}

#servizi_section3{
    text-align: justify;
    margin-top: 3em;
}

#servizi_section3 h3, #servizi_section3 p {
    margin-bottom: 1em;
}

#servizi_section4 {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 3em;
}

#servizi_section4 h3{
    text-align: left;
    margin-bottom: 0.5em;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer{
    display: flex;
    padding: 0.5em;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer div.servizi_reasonContent{
    background-color:var(--headerBgColor) ;
    color: var(--headerTxtColor);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: auto;
    width: 330px;
    padding: 1em;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer h4{
    text-align: center;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer p{
    text-align: justify;
}


/*IMPIANTI*/

#impianti_content h2 {
    text-align: center;
    margin-top: 1em;
}

#impianti_content p{
    margin-top: 1em;
}

#impianti_content h3{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.impianti_container ul li {
    list-style: none;
}

#impianto1-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 0.5em; 
    border: solid black;
}

#impianto1-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
}

#impianto1-wrapper{
    display: grid;
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 0.5em; 
    grid-template-areas: "t" "i" ;

}

#impianto1-wrapper #impianti_img1{
    display: none;
}

#impianto2-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 0.5em; 
    grid-template-areas: "t" "i" ;

}

#impianto2-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 0.5em;
    border: solid black; 
}

#impianto2-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto2-wrapper ul li {
    list-style:circle;
    margin-left: 2em;
}

#impianto2-wrapper #impianti_img2{
    display: none;
}

#impianto3-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 0.5em; 
    grid-template-areas: "t" "i" ;
}

#impianto3-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black;
}

#impianto3-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto3-wrapper #impianti_img3{
    display: none;
}

#impianto4-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 0.5em; 
    grid-template-areas: "t" "i" ;
    margin-bottom: 2em;
}

#impianto4-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black;
}

#impianto4-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto4-wrapper ul li {
    list-style: circle;
    margin-left: 2em;
}

#impianto4-wrapper #impianti_img4{
    display: none;
}

/*SMALTIMENTO*/

#smaltimento_content-wrapper{
    margin-bottom: 2em;
}

#smaltimento_content-wrapper h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#smaltimento_content-wrapper h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#smaltimento_content-wrapper ul li {
    list-style: circle;
    margin-left: 1em;
}

#smaltimento_content-wrapper #smaltimento_img1{
    display: none;
}

/*RECUPERO E RACCOLTA*/

#raccolta_content{
    margin-bottom: 2em;
}

#raccolta_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;

}

#raccolta_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#raccolta_content ul li {
    list-style: circle;
    margin-left: 1em;
   margin-top: 0.5em;
}

/*BONIFICHE*/

#bonifiche_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;

}

#bonifiche_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

#bonifiche_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}


/* PRONTO INTERVENTO */

#intervento_content{
    margin-bottom: 2em;
}

#intervento_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#intervento_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 1em;
}

#intervento_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 0.5em;
}

/*DOVE LO BUTTO */

#doveLoButto-wrapper{
    display: grid; 
    grid-template-rows: repeat(7,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;
} 

#doveLoButto-wrapper > #cartaImg{
    display: none;
}

#carta h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#plastica h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #plasticaImg{
    display: none;
}

#vetro h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #vetroImg{
    display: none;
}

#umido h3{
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #umidoImg{
    display: none;
}

#secco h3{
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #seccoImg{
    display: none;
}

#altro h3{
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #altroImg{
    display: none;
}


/*Search*/
#searchContainer{
    display: none;
}

/*LOGIN*/

#content h2 {
    text-align: center;
    margin-top: 1em;
}

#content legend {
    text-align: left;
    font-size: 20px; 
} 

#content fieldset {
    border-radius: 10px;
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin: 0 1em 1em 1em; 
    margin-bottom: 2em;
    width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input{
    padding:1.5em;
    margin: 2em; 
    border-radius: 10px;
    background-color: var(--headerBgColor);
}

input#loginemail {
    padding: 1.5em;
    border-radius: 10px;
    background-color: white;
    color: var(--txtColor);
}

input#loginpass {
    padding: 1.5em;
    border-radius: 10px;
    background-color: white;
    color: var(--txtColor);
}

input:hover{
    background-color: var(--visitedLinkColor);
    color: var(--bgColor);
}

input:focus{
    outline: 3px solid #007bff;
}


/*SEGNALAZIONI*/
main#content.segnalazioni h2{ 
    text-align: center;
} 

.segnalazioni table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    margin-top: 20px;
}
  
.segnalazioni th, .segnalazioni td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}


.segnalazioni tr:nth-child(even) {
    background-color: #f2f2f2;
}

.segnalazioni tr:hover, .segnalazioni thead {
    background-color: #e5e5e5;
}

.segnalazioni caption {
    padding: 0.5em;
}


.segnalazioni td.inCarico {
    position: relative;
    background-image: url(../img/icons/yes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1em;
    height: 1em; 
}

.segnalazioni td span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: -9999px; 
}

.segnalazioni td a{
    display: block;
    height: 1em;
}

.segnalazioni td.NonInCarico {
    position: relative;
    background-image: url(../img/icons/no.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1em;
    height: 1em; 
}

/*Inserisci Segnalazione*/

form#segnalazione{
    margin-bottom: 0.5em;
}

form#segnalazione label{
    display: block;
    padding-left:1em;
    font-size: 1em;
    margin-top:0.5em;
}

form#segnalazione fieldset{
    border-radius: 0px 20px 20px 20px;
    padding:1em;
    width:80%;
}

form#segnalazione legend{
    padding-left:0.25em;
}

form#segnalazione input{
    margin:0;
    width:100%;
    font-size: 1em;
    padding:0.7em;
    border:2px solid black;
}

form#segnalazione input#subformsegn{
    margin:0.7em 0em 0.7em 0em;
    cursor: pointer;
}

form#segnalazione input#data{
    padding:0.7em;
}

form#segnalazione textarea{
    resize: none;
    width:100%;
    border-radius: 10px;
    padding:0.5em;
    height:7vh;
    background-color: var(--bgButtonColor);
    border:2px solid black;
    font-size: 1em;
}

form#segnalazione textarea:focus{
    outline: 3px solid #007bff;
}

.FormSegnalazione p{
    max-width: 1024px;
    margin:auto;
    text-align: justify;
    margin-bottom:1em;
}

/*Detailed Segnalazioni*/

.changesegnstatus{
    text-align: center;
    display: block;
    background-color: var(--bgButtonColor);
    border: 1px solid black;
    border-radius: 10px;
    padding:0.5em;
    max-width: 400px;
    margin:1em auto 1em;
}

.detailedSegnalazione .delete-button {
    max-width: 768px;
    display: block;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding:0.5em;
    max-width: 400px;
    margin:1em auto 1em;
}

/*DASHBOARD*/
.dashboard div.dashboard-button {
    text-align: center;
    margin: 0.5em;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    background-color: var(--headerBgColor);
}

.dashboard div.dashboard-button> a{
    text-align: center;
    display: block;
}

main#content .dashboard h2{
    margin:1em;
}

#news-button{
    margin-bottom: 2em;
} 

.dashboard p {
    text-align: center;
    padding: 1.5em;
    margin: 0.5em;
}

/* CALENDARIO */
#calendar{
    margin-top: 2em;
    height:30em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 3.5em 2em auto auto auto auto auto auto;
    border-radius: 20px;
    padding:1px;
    background-color: var(--calBgColor);
}

#calTitle{
    background-color:var(--calTitleBgColor);
    color:var(--calTitleColor);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    grid-column: 1/8;
    padding-top:0.75em;
    border-radius: 20px 20px 0px 0px;
    border:1px solid black;
}

#calCornerBL{
    border-radius: 0px 0px 0px 20px;
}

#calCornerBR{
    border-radius: 0px 0px 20px 0px;
}

#calMonth{
    display: inline;
}

#monthLeft{
    display: none;
}

#monthRight{
    display: none;
}

#navigationHelpCal{
    position: absolute;
    text-indent: -999em;
}

#calwarning{
    text-align: justify;
    font-size: 1em;
    color:var(--warningmsg);
    margin-bottom:0.5em;
    margin-top: 1em;
}

.calHeaderWeek{
    background-color: var(--calHeaderWeekBgColor);
    text-align: center;
    border:1px solid black;
    padding:0.25em;
}

.calHeaderWeekend{
    background-color: var(--calHeaderWeekendBgColor);
    text-align: center;
    border:1px solid black;
    padding:0.25em;
}

.calElem{
    background-color: var(--calElemBgColor);
    border:1px solid black;
    border-collapse: collapse;
}

.calElemToday{
    background-color: var(--bgColor);
}

.calElemToday span{
    display: none;
}

.calElem span{
    display: none;
}

.calElemToday p{
    font-weight: normal;
}

.bidsvuot{
    float:right;
    height:2em;
    width:2em;
    border-radius: 1em;
    text-align: center;
    line-height: 2em;  
    margin: 0.4em;
}

.bidsvuotlegend{
    float:left;
    height:2em;
    width:2em;
    border-radius: 1em;
    text-align: center;
    line-height: 2em;  
    margin-right:1em;
    margin-left:1em;
}

.legenditem{
    float:left;
}

.legend{
    display: flex;
    flex-direction: row;
    margin:auto;
    width:66%;
}

.legend p{
    float: left;
    line-height: 2em;
    margin-left: 0.7em;
    margin-right:  0.7em;
}

#legendV{
    margin-right:0;
}


.accessDay{
    display: none;
}

/*footer*/
footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1.0em;
    text-align: justify;
    margin: auto;
    margin-bottom: 0px;
    width: 80%;
    border-top: 3px solid var(--footerTxtColor); 
    border-radius: 3px;
}

#partner_boseum{
    background-image: url("../img/icons/partner_boseum.png");
}

#partnerList{
    max-width: 1024px;
    margin: auto;
    padding: 1em;
    list-style-type: none;
    text-align: center;
}

#partnerList li{
    display: inline-block;
    width: 15%;
    margin: 0 0.5em;
}


.footericons{
    text-indent: -999em;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.5em;
    color:black;
    background-position: center;
}

.footericons a{
    display: block;
}

#facebook{
    content: url("../img/icons/facebook.png");
    background-image: none;
}

#instagram{
    content: url("../img/icons/instagram.png");
    background-image: none;
}

#x{
    content: url("../img/icons/x.png");
    background-image: none;
}

#socialList{
    max-width: 1024px;
    margin: auto;
    padding: 1em;
    list-style-type: none;
    text-align: center;
}

#socialList li{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 1.25em;
}
/*ECCEZIONI CALENDARIO*/
.eccezionicalendario li{
    border: 1px solid black;
    padding: 0.6em;
    margin: 0.6em;
    border-radius: 10px;
    list-style: none;
}

.eccezionicalendario h3{
    margin: 0.5em;
    text-align: center;
}

.eccezionicalendario p{
    margin: 0.5em;
    text-align: center;
}

.eccezionicalendario h2 {
    margin-top: 1em;
}

/*PROFILO*/

.profilo h2{
    margin-top: 1em;
}

.profilo p{
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 70%;
    text-align: center;
    background-color: var(--headerBgColor);
}

.profilo span.nome{
    text-transform: uppercase;
}

.profilo a{
    text-transform: uppercase;
    display: block;
    background-color: var(--headerBgColor);
}

.profilo .profile_link{
    background-color: var(--headerBgColor);
    max-width: 30%;
}


/*404*/

main#content.p404{
    background-color: var(--bgColor);
    margin: auto;
}

main#content.p404 h1{
    text-align: center;
    background-color: var(--headerBgColor);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3em;
    line-height: 1.5em;
}

main#content.p404 p {
    text-align: center;
    padding: 2em;
}


/*503*/

main#content.p503{
    background-color: var(--bgColor);
    margin: auto;
}

main#content.p503 h1{
    text-align: center;
    background-color: var(--headerBgColor);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3em;
    line-height: 1.5em;
}

main#content.p503 p {
    text-align: center;
    padding: 2em;
}
