*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headerBgColor: #9cbfa5;
    --headerTxtColor:#000000;
    --bgColor: #f5fbe4;
    --txtColor:#0b0b0b; 
    --footerBgColor: #f5fbe4;
    --footerTxtColor: #0b0b0b; 
    --linkColor: #3f3401;
    --visitedLinkColor:#7c0048;
    --font-body-family: "Futura", sans-serif;
    --articleBgColor: #c9dec4;
    --calTitleBgColor:#225a22;
    --calHeaderWeekBgColor:#ccffcc;
    --calHeaderWeekendBgColor:#cc9900;
    --calToday:#a3dca3;
    --calTitleColor:#ffffff;
    --calBgColor:#000000;
    --calElemBgColor:#ffffff;
    --bidU:#6f4c41;
    --bidS:#9ca4ad;
    --bidC:#00579c;
    --bidP:#ffd500;
    --bidV:#337b2b;
    --warningmsg:#a00000;
}

html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bgColor);
}

header{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    padding: 1em 1em 0em 1em;
    border-bottom: 3px solid var(--headerTxtColor); 
    border-radius: 3px;
}

.navigationhelp{
    position: absolute;
    text-indent: -999em;
}

header nav #menu{
    margin-left: 10%;
    text-align: right;
    font-size: 1em;
}

a:link{
    color: var(--linkColor);
}

a:visited{
    color: var(--visitedLinkColor);
}

header > h1{
    text-indent: -999em;
    background-image: url("../img/icons/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.5em;
    color:var(--headerTxtColor);
    background-position: center;
    font-size: 3em;
    margin:0.2em 0 0.2em 0;
}

#menu-toggle{
    display: none;
}

#menu ul{
    margin: auto;
    padding: 1em;
    list-style-type: none;
    text-align: center;
    border-bottom: 2px solid var(--headerTxtColor);
}

#menu ul li{
    display: inline-block;
    width: 12.5%;
    margin: 0 0.5em; 
    font-weight: bold;
    text-transform: uppercase; 
}

#menu ul li a{
    display: block;
}

#breadcrumb{
    margin: auto;
    text-align: center;
    padding:0.5em;
}

main{
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

/* index */
.home #wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr  1fr; 
    grid-gap: 2em; 
    grid-template-areas: "t t i" ;
}  

.home #wrapper > .left{
    grid-area: t;
}

#index_segnalazioni-button{
    background-color: var(--headerBgColor);
    padding: 2em;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5em;
    margin-top: 3em;
    max-width: 300px;
    text-align: center;
}


.home #wrapper > .right{
    grid-area: i;
    border-radius: 10px;
    background-image: url(../img/index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
}

main.home h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

/* footer */
footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1.0em;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    width: 80%;
    border-top: 3px solid var(--footerTxtColor); 
    border-radius: 3px;
}

.footericons{
    text-indent: -999em;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.5em;
    color:black;
    background-position: center;
}

.footericons a{
    display: block;
}

#facebook{
    background-image: url("../img/icons/facebook.png");
}

#instagram{
    background-image: url("../img/icons/instagram.png");
}

#x{
    background-image: url("../img/icons/x.png");
}

#socialList{
    max-width: 1024px;
    margin: auto;
    padding: 1em;
    list-style-type: none;
    text-align: center;
}

#socialList li{
    display: inline-block;
    width: 15%;
    margin: 0 0.5em;
}

/* News */
#news_4{
	background-image: url('../img/news/bidoni.jpg');
}

#news_3{
	background-image: url('../img/news/calendario.jpg');
}

#news_2{
	background-image: url('../img/news/educazione.jpg');
}

#news_1{
	background-image: url('../img/news/alluvione.jpg');
}

#content.news {
    margin-top: 0em;
}

#content.news h2{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#content.news article{
    border: 0.075em solid var(--headerTxtColor); 
    border-radius: 0.5em; 
    padding: 1em; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.75em;
    background-color: var(--articleBgColor);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: min-content 1fr;
    column-gap: 2em;
}

#content.news .newsImg{
    /*le immagini vanno messe con rateo 3:2*/
    background-color: var(--articleBgColor);
    background-size:cover;
    background-position: center;
    height: 17em; 
    width: 25em;
    display: block;
    margin: auto;
    border-radius: 1em; 
    grid-row: 1 / span 2;
    grid-column: 2;
 }
 
 #content.news h3{
    margin-top: 0.5em;
    grid-row: 1;
    grid-column: 1;
} 

#content.news article p{
    margin-top: 1em;
    grid-row: 2;
    grid-column: 1;
}

/* Detailed News */
#detailedNewsImage{
	background-image: url('../img/news/alluvione.jpg');
}

#content.detailedNews{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr auto;
}

#content.detailedNews h2{ 
    text-align: left;
    margin-top: 0em;
    grid-row: 1 ;
    grid-column: 1;
}

#content.detailedNews h3{
    margin-top: 0.5em;
    font-weight: normal;
    font-size: 1em;
    grid-row: 2;
    grid-column: 1;
}

#content.detailedNews #detailedNewsImage {
    background-color: var(--bgColor);
    background-size:cover;
    background-position: center;
    height: 20em; 
    width: 30em;
    display: block;
    margin: auto;
    grid-row: 1 / span 2;
    grid-column: 2;
}

#content.detailedNews .newsArticle{
    margin-top: 1em;
    margin-bottom: 1em;
    grid-row: 3;
    grid-column: 1 / span 2;
}

#content.detailedNews .newsArticle li{
    margin-left: 1em;
}

/* SERVIZI */
#servizi_content.servizi h2 {
    text-align: center;
    margin-top: 1em;
}

#servizi_section1 h3{
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
}

#servizi_wrapper {
    display: block;
}

#servizi_wrapper > .left{
    margin-bottom: 10em;
    margin-top: 2em;
    border: 2px solid var(--headerTxtColor); 
    border-radius: 10px; 
    padding: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--headerBgColor);
}

#servizi_section2 div.servizi_container.servizi_section2Content{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

#servizi_section2 div.servizi_serviceDescription{
    flex-grow: 0;
    flex-shrink: 1;
    text-align: left;
}

#servizi_section2  div.servizi_serviceDescription div.sec2{
    background-image: url(../img/servizi_sec22.jpg);
    display: flex;
    height: 570px;
    width: 390px;  
    margin-top: 2em;
    background-size: cover;
    border-radius: 10px;
} 

#servizi_section2 div.servizi_serviceContainer{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
}

#servizi_section2 div.servizi_serviceBoxContainer{
    display:flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 2em;
    padding-left:1em;
    padding-right: 0;
}

#servizi_section2 div.servizi_serviceBoxContainer h3{
    padding: 1em;
    font-size: 100%;
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--headerBgColor);
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--headerTxtColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
    width: 100%; 
}

#servizi_section2 div.servizi_serviceBoxContainer h3:hover{
    background-color: var(--headerBgColor);
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a{
    background-color: var(--headerBgColor) ;
    color: var(--linkColor);
    text-align: center;
    padding-left: 0;
    border-radius: 10px;
    padding: 0.5em; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.5em;
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a:hover{
    background-color: var(--bgColor);
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a:visited{
    color: var(--visitedLinkColor);
    background-color: var(--bgColor);
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a:visited:hover{
    background-color: var(--headerBgColor);
}

#servizi_section3{
    text-align: center;
    margin-top: 4em;
}

#servizi_section3 h3, #servizi_section3 p {
    margin-bottom: 2em;
}

#servizi_section4 {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 5em;
}

#servizi_section4 h3{
    text-align: center;
    margin-bottom: 2em;
}

#servizi_section4 div.servizi_reasonContainer{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer{
    display: flex;
    padding: 1em;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer div.servizi_reasonContent{
    background-color:var(--headerBgColor) ;
    color: var(--headerTxtColor);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    width: 330px;
    padding: 2em;
    padding-bottom: 0;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer h4{
    text-align: center;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer p{
    text-align: left;
}

/*IMPIANTI*/
#impianti_content h2 {
    text-align: center;
    margin-top: 1em;
}

#impianti_content p{
    margin-top: 1em;
}

.impianti_menu-impianti {
    margin-top: 1em;
    padding: 0.5em;
}

.impianti_container ul li {
    list-style: none;
    margin-left: 1em;
}

#impianto1-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em; 
    border: solid black;
}

#impianto1-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
}

#impianto1-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;
}

#impianto1-wrapper #impianti_img1{
    border-radius: 10px;
    background-image: url(../img/impianti_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

#impianto2-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;
}

#impianto2-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black; 
}

#impianto2-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto2-wrapper ul li {
    list-style:circle;
    margin-left: 2em;
}

#impianto2-wrapper #impianti_img2{
    border-radius: 10px;
    background-image: url(../img/impianti_img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

#impianto3-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;
}

#impianto3-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black;
}

#impianto3-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto3-wrapper #impianti_img3{
    border-radius: 10px;
    background-image: url(../img/impianti_rifiutipericolosi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

#impianto4-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;
}

#impianto4-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black;
}

#impianto4-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto4-wrapper ul li {
    list-style: circle;
    margin-left: 2em;
}

#impianto4-wrapper #impianti_img4{
    border-radius: 10px;
    background-image: url(../img/impianti_acque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

/*SMALTIMENTO*/
#smaltimento_content-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;
}

#smaltimento_content-wrapper h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

#smaltimento_content-wrapper h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

#smaltimento_content-wrapper ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#smaltimento_content-wrapper #smaltimento_img1{
    border-radius: 10px;
    background-image: url(../img/smaltimento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

/*RECUPERO E RACCOLTA*/
#raccolta_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

#raccolta_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

#raccolta_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

/*BONIFICHE*/
#bonifiche_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

#bonifiche_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

#bonifiche_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* PRONTO INTERVENTO */
#intervento_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

#intervento_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

#intervento_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*DOVE LO BUTTO */
#searchBar h3{
    margin-top: 2em;
}

#searchBar #doveLoButto-wrapper{
    display: grid; 
    grid-template-rows: repeat(7,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;
} 

#doveLoButto-wrapper > #cartaImg{
    border-radius: 10px;
    background-image: url(../img/DLB_carta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

#carta h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--bidC) ;
    color: white;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#plastica h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--bidP);

}

#doveLoButto-wrapper > #plasticaImg{
    border-radius: 10px;
    background-image: url(../img/DLB_plastica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
} 

#vetro h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--bidV);
    color: white;
}

#doveLoButto-wrapper > #vetroImg{
    border-radius: 10px;
    background-image: url(../img/DLB_vetro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

#umido h3{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--bidU) ;
    color: white;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #umidoImg{
    border-radius: 10px;
    background-image: url(../img/DLB_umido.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
} 

#secco h3{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--bidS) ;
    color: white;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #seccoImg{
    border-radius: 10px;
    background-image: url(../img/DLB_secco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
} 

#altro h3{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
}

#doveLoButto-wrapper > #altroImg{
    border-radius: 10px;
    background-image: url(../img/DLB_altro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

/*Search*/
#searchContainer{
    border-top: var(--headerBgColor) 0.3em solid;
    margin-top: 0.3em;
    border-bottom: var(--headerBgColor) 0.3em solid;
    margin-bottom: 0.3em;
}
#searchBar{
    width: 100%;
    display: flex;
} 
 
#searchInput{
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: var(--bgColor);
    border-radius: 10px;
    flex: 1 1 70%;
    padding: 10px;
}
 
#searchButton {
    padding: 10px;
    margin: auto;
    height: auto;
    flex: 1 1 auto;
    border-radius: 10px;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
}
 
#searchInput:hover{
    background-color: var(--visitedLinkColor);
}
 
/*Search Result*/
#searchResults dd, #searchResults dt{
    display: inline-block;
    margin: 0 0.5em;
    width: 14%;
}

#searchResults dt{
   font-weight: bold;
}

#searchResults dt{
    margin: auto;
    text-align: center;
}

/*LOGIN*/
#content h2 {
    text-align: center;
}

#content legend {
    text-align: left;
    font-size: 20px;  
} 

#content fieldset {
    border-radius: 10px;
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin: 1.5em; 
    margin-bottom: 5em;
    width: 60%;     
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input{
    padding:1.5em;
    margin: 2em; 
    border-radius: 10px;
    background-color: var(--headerBgColor);
}

input#loginemail {
    padding: 1.5em;
    border-radius: 10px;
    background-color: white;
    color: var(--txtColor);
}

input#loginpass {
    padding: 1.5em;
    border-radius: 10px;
    background-color: white;
    color: var(--txtColor);
}

input:hover{
    background-color: var(--visitedLinkColor);
    color: var(--bgColor);
}

input:focus{
    outline: 3px solid #007bff;
}

/*SEGNALAZIONI*/
main#content.segnalazioni h2{ 
    text-align: center;
} 

.segnalazioni table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    margin-top: 20px;
}
  
.segnalazioni th, .segnalazioni td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.segnalazioni tr:nth-child(even) {
    background-color: #f2f2f2;
}

.segnalazioni tr:hover, .segnalazioni thead {
    background-color: #e5e5e5;
}

.segnalazioni caption {
    padding: 0.5em;
}

.segnalazioni td.inCarico {
    position: relative;
    background-image: url(../img/icons/yes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1em;
    height: 1em; 
}

.segnalazioni td span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: -9999px; 
}

.segnalazioni td a{
    display: block;
    height: 1em;
}

.segnalazioni td.NonInCarico {
    position: relative;
    background-image: url(../img/icons/no.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1em;
    height: 1em; 
}

/*DASHBOARD*/
.dashboard div.dashboard-button {
    text-align: center;
    margin: 0.5em;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    background-color: var(--headerBgColor);
}

.dashboard div.dashboard-button> a{
    text-align: center;
    display: block;
}

main#content .dashboard h2{
    margin:1em;
}

#news-button{
    margin-bottom: 2em;
} 

.dashboard p {
    text-align: center;
    padding: 1.5em;
    margin: 0.5em;
}

/*ECCEZIONI CALENDARIO*/
.eccezionicalendario li{
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    list-style: none;
}

.eccezionicalendario h3{
    margin: 2em;
    text-align: center;
}

.eccezionicalendario p{
    margin: 2em;
    text-align: center;
}

.eccezionicalendario h2 {
    margin-top: 1em;
}

/*PROFILO*/
.profilo h2{
    margin-top: 1em;
}

.profilo p{
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 70%;
    text-align: center;
    background-color: var(--headerBgColor);
}

.profilo span.nome{
    text-transform: uppercase;
}

.profilo a{
    text-transform: uppercase;
    display: block;
    background-color: var(--headerBgColor);
}

.profilo .profile_link{
    background-color: var(--headerBgColor);
    max-width: 30%;
}

/*404*/
main#content.p404{
    background-color: var(--bgColor);
    margin: auto;
}

main#content.p404 h1{
    text-align: center;
    background-color: var(--headerBgColor);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3em;
    line-height: 1.5em;
}

main#content.p404 p {
    text-align: center;
    padding: 2em;
}

/*503*/
main#content.p503{
    background-color: var(--bgColor);
    margin: auto;
}

main#content.p503 h1{
    text-align: center;
    background-color: var(--headerBgColor);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3em;
    line-height: 1.5em;
}

main#content.p503 p {
    text-align: center;
    padding: 2em;
}

/* CALENDARIO */
#calendar{
    height:80vh;
    margin-top:2em;
    margin-bottom: 0.3em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 3.5em 2em auto auto auto auto auto auto;
    border-radius: 20px;
    padding:1px;
    background-color: var(--calBgColor);
}

#calTitle{
    background-color:var(--calTitleBgColor);
    color:var(--calTitleColor);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    grid-column: 1/8;
    padding-top:0.75em;
    border-radius: 20px 20px 0px 0px;
    border:1px solid black;
}

#calCornerBL{
    border-radius: 0px 0px 0px 20px;
}

#calCornerBR{
    border-radius: 0px 0px 20px 0px;
}

#calMonth{
    display: inline;
}

#monthLeft{
    float:left;
    color:var(--calTitleColor);
    margin-left:1.5em;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--calTitleBgColor);
    border:0;
    background-image: url("../img/icons/left-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:1.5em;
    width:1.5em;
}

#monthRight{
    float:right;
    color:var(--calTitleColor);
    margin-right:1.5em;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--calTitleBgColor);
    border:0;
    background-image: url("../img/icons/right-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:1.5em;
    width:1.5em;
}

#navigationHelpCal{
    position: absolute;
    text-indent: -999em;
}

#calwarning{
    text-align: center;
    font-size: 0.85em;
    color:var(--warningmsg);
    margin-bottom:0.5em;
}

.calHeaderWeek{
    background-color: var(--calHeaderWeekBgColor);
    text-align: center;
    border:1px solid black;
    padding:0.25em;
}

.calHeaderWeekend{
    background-color: var(--calHeaderWeekendBgColor);
    text-align: center;
    border:1px solid black;
    padding:0.25em;
}

.calElem{
    background-color: var(--calElemBgColor);
    border:1px solid black;
    border-collapse: collapse;
}

.calElemToday{
    background-color: var(--calToday);
    border:1px solid black;
    border-collapse: collapse;
}

.calElemToday p{
    padding:0.3em;
    display: block;
    font-weight: bold;
    margin:0;
}

.calElem p{
    padding:0.3em;
    display: block;
    margin:0;
}

.bidsvuot{
    float:right;
    height:2em;
    width:2em;
    border-radius: 1em;
    text-align: center;
    line-height: 2em;  
    margin-right:1em;
}

.bidsvuotlegend{
    float:left;
    height:2em;
    width:2em;
    border-radius: 1em;
    text-align: center;
    line-height: 2em;  
    margin-right:1em;
}

.legenditem{
    float:left;
}

.legend{
    display: flex;
    flex-direction: row;
    margin:auto;
    width:66%;
}

.legend p{
    float: left;
    line-height: 2em;
    margin-right:5vw;
}

#legendV{
    margin-right:0;
}

.bidC{
    background-color: var(--bidC);
    color:white;
}

.bidP{
    background-color: var(--bidP);
    color:black;
}

.bidU{
    background-color: var(--bidU);
    color:white;
}

.bidS{
    background-color: var(--bidS);
    color:black;
}

.bidV{
    background-color: var(--bidV);
    color:white;
}

.accessDay{
    display: none;
}