<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Demeter</title>
        <meta name="keywords" content="Demeter, Raccolta, Rifiuti, Servizi, Calendario, Svuotamenti">
        <meta name="description" content="Servizio completo di trattamento dei rifiuti per ogni tipo di intervento. Garantiamo lavori rapidi, convenienti e a norma di legge">
        <link rel="stylesheet" href="css/calendarioStyle.css">
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <nav id="menu">
                <ul>
                    <li><a href="index.php"><span lang="en">Home</span></a></li>
                    <li>Calendario</li>
                    <li><a href="servizi.php">Servizi</a></li>
                    <li><a href="doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="news.php"><span lang="en">News</span></a></li>
                    <li><a href="{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a href="index.php" lang="en">Home</a>&gt;&gt;Calendario</p>
            </nav>
        </header>
        <main id="content">
            <div id="calendar">
                <div id="calTitle"><a id="monthLeft" href="functions/addMonthCal.php?index=-1">&lt;</a><p id="calMonth">{month}</p><a id="monthRight" href="functions/addMonthCal.php?index=1">&gt;</a></div> <!--Non va bene < e >-->
                <div class="calHeaderWeek">Lunedì</div>
                <div class="calHeaderWeek">Martedì</div>
                <div class="calHeaderWeek">Mercoledì</div>
                <div class="calHeaderWeek">Giovedì</div>
                <div class="calHeaderWeek">Venerdì</div>
                <div class="calHeaderWeekend">Sabato</div>
                <div class="calHeaderWeekend">Domenica</div>
                <div class="calElem">{box1}</div>
                <div class="calElem">{box2}</div>
                <div class="calElem">{box3}</div>
                <div class="calElem">{box4}</div>
                <div class="calElem">{box5}</div>
                <div class="calElem">{box6}</div>
                <div class="calElem">{box7}</div>
                <div class="calElem">{box8}</div>
                <div class="calElem">{box9}</div>
                <div class="calElem">{box10}</div>
                <div class="calElem">{box11}</div>
                <div class="calElem">{box12}</div>
                <div class="calElem">{box13}</div>
                <div class="calElem">{box14}</div>
                <div class="calElem">{box15}</div>
                <div class="calElem">{box16}</div>
                <div class="calElem">{box17}</div>
                <div class="calElem">{box18}</div>
                <div class="calElem">{box19}</div>
                <div class="calElem">{box20}</div>
                <div class="calElem">{box21}</div>
                <div class="calElem">{box22}</div>
                <div class="calElem">{box23}</div>
                <div class="calElem">{box24}</div>
                <div class="calElem">{box25}</div>
                <div class="calElem">{box26}</div>
                <div class="calElem">{box27}</div>
                <div class="calElem">{box28}</div>
                <div class="calElem">{box29}</div>
                <div class="calElem">{box30}</div>
                <div class="calElem">{box31}</div>
                <div class="calElem">{box32}</div>
                <div class="calElem">{box33}</div>
                <div class="calElem">{box34}</div>
                <div class="calElem">{box35}</div>
                <div id="calCornerBL" class="calElem">{box36}</div>
                <div class="calElem">{box37}</div>
                <div class="calElem">{box38}</div>
                <div class="calElem">{box39}</div>
                <div class="calElem">{box40}</div>
                <div class="calElem">{box41}</div>
                <div id="calCornerBR" class="calElem">{box42}</div>
            </div>
        </main>
        <footer>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. <span>Per un mondo più libero e verde.</span>
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>