<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Calendario-Demeter</title>
        <meta name="keywords" content="Demeter, Raccolta, Rifiuti, Servizi, Calendario, Svuotamenti">
        <meta name="description" content="Servizio completo di trattamento dei rifiuti per ogni tipo di intervento. Garantiamo lavori rapidi, convenienti e a norma di legge">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/mini.css" media="screen and (max-device-width:768px)">
        <link rel="stylesheet" href="css/print.css"  media="print">
        <script src="js/createCalendar.js"></script>
        <script src="js/togglemenu.js"></script>
    </head>
    <body onload="createCalendar()">
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <button id="togglemenu" onclick="toggleMenu()"></button>
            <nav id="menu" class="tmenuhidden">
                <ul>
                    <li><a href="index.php"><span lang="en">Home</span></a></li>
                    <li>Calendario</li>
                    <li><a href="servizi.php">Servizi</a></li>
                    <li><a href="doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="news.php"><span lang="en">News</span></a></li>
                    <li><a href="{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt;&gt; Calendario</p>
            </nav>
        </header>
        <main id="content">
            <h2>Calendario Svuotamenti</h2>
            <div id="calendar">
                <div id="calTitle"><button id="monthLeft" onclick="changeMonth(-1)" class="calarrowshow"></button><p id="calMonth"></p><button id="monthRight" onclick="changeMonth(1)" class="calarrowshow"></button><a href="" id="navigationHelpCal">Vai a oggi</a></div> <!--Non va bene < e >-->
                <div class="calHeaderWeek" id="lun" aria-hidden="true">Lunedì</div>
                <div class="calHeaderWeek" id="mar" aria-hidden="true">Martedì</div>
                <div class="calHeaderWeek" id="mer" aria-hidden="true">Mercoledì</div>
                <div class="calHeaderWeek" id="gio" aria-hidden="true">Giovedì</div>
                <div class="calHeaderWeek" id="ven" aria-hidden="true">Venerdì</div>
                <div class="calHeaderWeekend" id="sab" aria-hidden="true">Sabato</div>
                <div class="calHeaderWeekend" id="dom" aria-hidden="true">Domenica</div>
                <div class="calElem"><p id="numd1"></p></div>
                <div class="calElem"><p id="numd2"></p></div>
                <div class="calElem"><p id="numd3"></p></div>
                <div class="calElem"><p id="numd4"></p></div>
                <div class="calElem"><p id="numd5"></p></div>
                <div class="calElem"><p id="numd6"></p></div>
                <div class="calElem"><p id="numd7"></p></div>
                <div class="calElem"><p id="numd8"></p></div>
                <div class="calElem"><p id="numd9"></p></div>
                <div class="calElem"><p id="numd10"></p></div>
                <div class="calElem"><p id="numd11"></p></div>
                <div class="calElem"><p id="numd12"></p></div>
                <div class="calElem"><p id="numd13"></p></div>
                <div class="calElem"><p id="numd14"></p></div>
                <div class="calElem"><p id="numd15"></p></div>
                <div class="calElem"><p id="numd16"></p></div>
                <div class="calElem"><p id="numd17"></p></div>
                <div class="calElem"><p id="numd18"></p></div>
                <div class="calElem"><p id="numd19"></p></div>
                <div class="calElem"><p id="numd20"></p></div>
                <div class="calElem"><p id="numd21"></p></div>
                <div class="calElem"><p id="numd22"></p></div>
                <div class="calElem"><p id="numd23"></p></div>
                <div class="calElem"><p id="numd24"></p></div>
                <div class="calElem"><p id="numd25"></p></div>
                <div class="calElem"><p id="numd26"></p></div>
                <div class="calElem"><p id="numd27"></p></div>
                <div class="calElem"><p id="numd28"></p></div>
                <div class="calElem"><p id="numd29"></p></div>
                <div class="calElem"><p id="numd30"></p></div>
                <div class="calElem"><p id="numd31"></p></div>
                <div class="calElem"><p id="numd32"></p></div>
                <div class="calElem"><p id="numd33"></p></div>
                <div class="calElem"><p id="numd34"></p></div>
                <div class="calElem"><p id="numd35"></p></div>
                <div id="calCornerBL" class="calElem"><p id="numd36"></p></div>
                <div class="calElem"><p id="numd37"></p></div>
                <div class="calElem"><p id="numd38"></p></div>
                <div class="calElem"><p id="numd39"></p></div>
                <div class="calElem"><p id="numd40"></p></div>
                <div class="calElem"><p id="numd41"></p></div>
                <div id="calCornerBR" class="calElem"><p id="numd42"></p></div>
            </div>
            <p id="calwarning">Alcuni svuotamenti nel calendario potrebbero essere spostati o rimossi. Invitiamo chiunque voglia rimanere aggiornato a consultare la pagina dedicata alle <a href="eccezioniCalendario.php">eccezioni del calendario</a></p>
            <div class="legend">
                <div class="legenditem"><div class="bidsvuotlegend bidC">C</div><p id="legendC">Carta</p></div>
                <div class="legenditem"><div class="bidsvuotlegend bidP">P</div><p id="legendP">Plastica</p></div>
                <div class="legenditem"><div class="bidsvuotlegend bidS">S</div><p id="legendS">Secco</p></div>
                <div class="legenditem"><div class="bidsvuotlegend bidU">U</div><p id="legendU">Umido</p></div>
                <div class="legenditem"><div class="bidsvuotlegend bidV">V</div><p id="legendV">Vetro</p></div>
            </div>
        </main>
        <footer>
            <h3>Dai un'occhiata ai nostri partner</h3>
            <p>
                I nostri partner ci aiutano a garantire un servizio sempre migliore. Prova a dare loro un'occhiata.
            </p>
            <ul id="partnerList">
                <li id="partner_boseum" class="footericons"><a href="https://github.com/rmdevv/ProgettoTecWeb"><span lang="en">Partner: Boseum</span></a></li>
            </ul>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. Per un mondo più libero e verde.
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>