<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Detailed Segnalazione-Demeter</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen"> 
        <link rel="stylesheet" href="css/mini.css" media="only screen and (max-width: 768px)">
        <link rel="stylesheet" href="css/print.css"  media="print">
        <script src="js/togglemenu.js"></script>
        <script src="js/deleteSegnalazione.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <button id="togglemenu" onclick="toggleMenu()">Apri menù</button>
            <nav id="menu" class="tmenuhidden">
                <ul>
                    <li><a href="index.php"><span lang="en">Home</span></a></li>
                    <li><a href="calendario.php">Calendario</a></li>
                    <li><a href="servizi.php">Servizi</a></li>
                    <li><a href="doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="news.php"><span lang="en">News</span></a></li>
                    <li><a href="{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a lang="en" href="index.php">Home</a> &gt;&gt; <a lang="en" href="dashboard.php">Dashboard</a> &gt;&gt; <a  href="segnalazioni.php">Segnalazioni</a> &gt;&gt; {detailedTitle}</p>
            </nav>
        </header>
        <main id="content" class = "detailedSegnalazione">
            {detailedSegnalazione}
        </main>
        <footer>
            <h3>Dai un'occhiata ai nostri partner</h3>
            <p>
                I nostri partner ci aiutano a garantire un servizio sempre migliore. Prova a dar loro un'occhiata.
            </p>
            <ul id="partnerList">
                <li id="partner_boseum" class="footericons"><a href="https://github.com/rmdevv/ProgettoTecWeb"><span lang="en">Partner: Boseum</span></a></li>
            </ul>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. Per un mondo più libero e verde.
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href="https://www.facebook.com/profile.php?id=61556075761820" target="_blank"><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href="https://www.instagram.com/demeter_23_24/" target="_blank"><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href="https://twitter.com/Demeter_23_24" target="_blank"><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>