<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>DoveLoButto-Demeter</title>
        <meta name="keywords" content="Servizi Ecologici, Impianti, Smaltimento Rifiuti,Raccolta,Bonifiche Ambientali,Riciclo,Contenitori,Plastica,Carta,Cartone,Metallo,Umido,Vetro">
        <meta name="description" content="Demeter aiuta nel riconoscere il contenitore corretto per un riciclo adeguato dei rifiuti.">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mini.css" media="screen and (max-device-width:768px)">
        <link rel="stylesheet" href="css/print.css"  media="print">
        <script src="js/functions.js"></script>
        <script src="js/togglemenu.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <button id="togglemenu" onclick="toggleMenu()"></button>
            <nav id="menu">
                <ul>
                    <li><a href="index.php"><span lang="en">Home</span></a></li>
                    <li><a href="calendario.php">Calendario</a></li>
                    <li><a href="servizi.php">Servizi</a></li>
                    <li>Dove lo butto?</li>
                    <li><a href="news.php"><span lang="en">News</span></a></li>
                    <li><a href="{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt;&gt; Dove lo butto?</p>
            </nav>
        </header>
        <main id="content">
                <div id="searchContainer">
                <h3>Cerca un rifuto per sapere dove va buttato: </h3>
                <div id="searchBar">
                <label for="searchInput" hidden>Cerca un rifiuto</label>
                <input type="text" id="searchInput" placeholder="Cerca un rifiuto">
                <button id="searchButton">Cerca</button>
                </div>

            <div id="searchResults">
            </div> 
        </div>
            <div id="doveLoButto-wrapper">
                <div id="carta" class="waste-category">
                    <h3>Carta</h3>
                    <p class="howIsRecicled"> Carta e cartone vengono ridotti in una poltiglia, che viene lavata, filtrata, stesa ed asciugata per essere arrotolata in bobine, pronta per essere riutilizzata.</p>
                    <p class="whyIsRecicled">Il riciclo della carta è essenziale per preservare le risorse naturali e ridurre l'impatto ambientale della produzione di carta vergine. La fabbricazione tradizionale comporta la deforestazione e la perdita di biodiversità, mentre il riciclo riduce la dipendenza dalle risorse forestali, contribuendo alla conservazione degli ecosistemi. La produzione di carta vergine impiega notevoli quantità di acqua e emette gas serra, mentre il riciclo richiede meno energia e acqua, riducendo l'inquinamento atmosferico e idrico. Il riciclo della carta limita anche l'accumulo di rifiuti in discarica, promuovendo un ciclo sostenibile e circolare dei materiali. In definitiva, il riciclo della carta è cruciale per conservare le risorse naturali, mitigare i cambiamenti climatici e preservare l'ambiente per le generazioni future.</p>
                    <details>
                        <summary>Cosa devo buttare nel contenitore della carta?</summary>
                        <ul class="listOfWastes">
                            <li>Contenitori in Tetra Pack</li>
                            <li>Quaderni</li>
                            <li>Fotocopie</li>
                            <li>Giornali e riviste</li>
                            <li>Scatole per pizza</li>
                            <li>Imballaggi in carta e cartone</li>
                        </ul>
                    </details>
                </div>
                <div id="cartaImg"></div>
                <div id="plastica" class="waste-category">
                    <h3>Plastica</h3>
                    <p class="howIsRecicled"></p>
                    <p class="whyIsRecicled">Il riciclo di plastica, è fondamentale per mitigare l'impatto ambientale di tali materiali sulla Terra. La plastica, derivata da risorse non rinnovabili come il petrolio, richiede notevoli energie per la produzione e può persistere nell'ambiente per secoli, causando danni irreparabili agli ecosistemi. Il riciclo contribuisce a ridurre la dipendenza dalle risorse fossili, limita l'inquinamento atmosferico e riduce la quantità di rifiuti nei siti di smaltimento. </p>
                    <details>
                        <summary>Cosa devo buttare nel contenitore della plastica?</summary>
                        <ul  class="listOfWastes">
                            <li>Piatti e bicchieri in plastica</li>
                            <li>Bottiglie e flaconi in plastica</li>
                            <li>Contenitori in plastica o alluminio per alimenti</li>
                            <li>Lattine in alluminio e acciaio, carta stagnola</li>
                            <li>Bottiglie di plastica</li>
                            <li>Polistirolo</li>
                        </ul>
                    </details>
                </div>
                <div id="plasticaImg"></div>
                <div id="vetro" class="waste-category">
                    <h3>Vetro e lattine</h3>
                    <p class="howIsRecicled">Questi rifiuti sono raccolti insieme per poi essere smistati nei nostri impianti, per essere successivamente riciclati in base al tipo di materiale. Gli imballaggi in metallo, alluminio e acciaio sono fusi nelle fonderie, in particolare con l'acciaio riciclato si realizzano binari ferroviari e strutture di ponti. Il vetro, dopo essere stato separato per colore, viene rifuso e utilizzato per produrre bottigle, vasi o altri contenitori.</p>
                    <p class="whyIsRecicled">Il vetro, se non riciclato, richiede una grande quantità di energia per la produzione, mentre il riciclo consente di ridurre notevolmente il consumo energetico. Il riciclo di questi materiali contribuisce a ridurre l'inquinamento del suolo, dell'acqua e dell'aria, preservando le risorse naturali.</p>
                    <details>
                        <summary>Cosa devo buttare nel contenitore del vetro e lattine?</summary>
                        <ul class="listOfWastes">
                            <li>Barattoli di sugo</li>
                            <li>Bicchieri rotti</li>
                            <li>Lattine dei fagioli</li>
                            <li>Scatolette di tonno</li>
                            <li>Bottiglie di birra e vino</li>

                        </ul>
                    </details>
                </div>
                <div id="vetroImg"></div>
                <div id="umido" class="waste-category">
                    <h3>Rifiuto umido e vegetale</h3>
                    <p class="howIsRecicled">Il rifiuto umido e vegetale viene trasportato presso i nostri impianti per produrre compost. Una volta miscelati e triturati i rifiuti sono sottoposti al vaglio di un magnete che controlla la presenza eventuale di metalli. I rifiuti sono poi spostati nell'area di compostaggio in cui avviene la biodegradazione grazie al controllo di temperatura e umidità. Dopo aver eliminato i pezzi troppo grossi o non decomposti si ha un ottimo compost, che può essere utilizzato come concime naturale in orti e giardini.</p>
                    <p class="whyIsRecicled">Il riciclo dell'umido è fondamentale per la sostenibilità ambientale. Smaltire i rifiuti organici in discarica produce gas serra come il metano, ma il riciclo tramite compostaggio o digestione anaerobica riduce notevolmente queste emissioni, contribuendo a mitigare i cambiamenti climatici. Il compost risultante funge da fertilizzante naturale, migliorando la qualità del suolo e riducendo la necessità di fertilizzanti chimici dannosi per la salute umana e l'ecosistema. In breve, il riciclo dell'umido non solo limita l'inquinamento, ma offre un approccio sostenibile alla gestione dei rifiuti, preservando risorse naturali e promuovendo la rigenerazione ambientale.</p>
                    <details>
                        <summary>Cosa devo buttare nel bidone dell'umido?</summary>
                        <ul  class="listOfWastes">
                            <li>Resti alimentari e alimenti avariati (senza confezione)</li>
                            <li>Gusci d'uovo, di crostacei e ossi</li>
                            <li>Fondi di caffè, filtri di tè</li>
                            <li>Fiori recisi</li>
                            <li>Lettiere compostabili</li>
                        </ul>
                    </details>
                </div>
                <div id="umidoImg"></div>
                <div id="secco" class="waste-category">
                    <h3>Secco non riciclabile</h3>
                    <p class="howIsRecicled"> Il rifiuto secco non riciclabile che raccogliamo viene trasportato presso i nostri impianti per essere trasformato in Combustibile Solido Secondario: il materiale raccolto viene miscelato e prelevato da un braccio meccanico che scarica i rifiuti in una tramoggia che li introduce in un trituratore. Successivamente i rifiuti triturati sono trasportati in un deferizzatore, un grosso magnete utilizzato per separare i materiali ferrosi che si possono riciclare. Il rifiuto rimanente prende il nome di Combustibile Solido Secondario ed ha un potere calorifero molto elevato, viene poi usato per produrre energia in vari impianti industriali.</p>
                    <p class="whyIsRecicled">La separazione del secco non riciclabile è essenziale nella gestione dei rifiuti per ridurre l'impatto ambientale e promuovere la sostenibilità. Raccogliere il secco non riciclabile in modo separato ottimizza lo smaltimento, facilita la gestione dei rifiuti e riduce i costi. La corretta separazione agevola il riciclo dei materiali, migliorando l'efficienza e riducendo i rifiuti destinati alle discariche. Questa pratica promuove la conservazione delle risorse naturali e previene l'inquinamento ambientale, contribuendo a un ambiente più sano e sostenibile per le generazioni future.</p>
                    <details>
                        <summary>Cosa devo buttare nel bidone del secco?</summary>
                        <ul  class="listOfWastes">
                            <li>Stracci sporchi, spugne</li>
                            <li>Pannolini</li>
                            <li>Giocattoli, cassette audio e video, CD</li>
                            <li>Carta oleata, plastificata, scontrini</li>
                            <li>Mozziconi di sigarette</li>
                            <li>Cosmetici, cotone idrofilo, cerotti, siringhe protette</li>
                            <li>Penne, pennarelli, nastro adesivo</li>
                            <li>Ceramica e porcellana</li>
                        </ul>
                    </details>
                </div>
                <div id="seccoImg"></div>
                <div id="altro" class="waste-category">
                    <h3>Rifiuti di altro tipo</h3>
                    <p>I <strong>medicinali scaduti</strong> vanno inseriti negli <strong>appositi contenitori</strong> situati presso le farmacie</p>
                    <p>Le <strong>pile esauste</strong> vanno smaltite nei contenitori situati presso centri di raccolta e attività commerciali</p>
                    <p>Gli <strong>indumenti usati</strong>, come abiti usati, maglieria, biancheria, borse, cappelli e cinture, vanno gettati negli appositi contenitori presso i centri di raccolta e altri punti sul territorio</p>
                </div>
                <div id="altroImg"></div>
            </div>           
            
        </main>
        

        <footer>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. <span>Per un mondo più libero e verde.</span>
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>