<footer>
    <h3>Segui i nostri canali social</h3>
    <p>
        Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
        aggiornato su tutte le iniziative e i progetti futuri. <span>Per un mondo più libero e verde.</span>
    </p>
    <ul id="socialList">
        <li id="facebook" class="footericons"><a href=""><span lang="en">Facebook</span></a></li>
        <li id="instagram" class="footericons"><a href=""><span lang="en">Instagram</span></a></li>
        <li id="x" class="footericons"><a href=""><span lang="en">X</span></a></li>
    </ul>
</footer>
</body>
</html>