<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Home-Demeter</title>
        <meta name="keywords" content="Demeter, Raccolta, Rifiuti, Servizi,Segnalazioni,Smaltimento, Calendario">
        <meta name="description" content="Servizio completo di trattamento dei rifiuti per ogni tipo di intervento. Garantiamo lavori rapidi, convenienti e a norma di legge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 768px)">
        <link rel="stylesheet" href="css/print.css"  media="print">
        <script src="js/togglemenu.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <button id="togglemenu" onclick="toggleMenu()">Apri menù</button>
            <nav id="menu" class="tmenuhidden">
                <ul>
                    <li><span lang="en">Home</span></li>
                    <li><a href="calendario.php">Calendario</a></li>
                    <li><a href="servizi.php">Servizi</a></li>
                    <li><a href="doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="news.php"><span lang="en">News</span></a></li>
                    <li><a href="{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <span lang="en">Home</span></p>
            </nav>
        </header>
        <main id="content" class="home">
            <h2>Gestisci i tuoi rifiuti nel migliore dei modi</h2>
            <div id="wrapper">
                <div class="left">
                    <p>
                        <strong>Demeter</strong> è l'azienda di riferimento per la <strong>raccolta</strong> e lo smaltimento dei <strong>rifiuti</strong> in tutta Italia.
                    </p>
                    <p>
                        Con i suoi <strong>servizi</strong>, Demeter riesce a garantire una completa assistenza e disponibilità nei confronti dei suoi clienti. 
                        Unisciti a noi accendendo al nostro portale e richiedendo subito il servizio che più ti interessa. Oppure contattaci direttamente 
                        all'indirizzo demeter@gmail.com per ottenere informazioni e chiarire i dubbi in merito al nostro servizio.
                    </p>
                    <div class="right" id="mobilehomepic"></div>
                    <p>
                        Consulta il <a href="calendario.php">calendario</a> e rimani aggiornato su tutto ciò che accade nel mondo, nel nostro mondo. Aiutaci a migliorare la nostra casa, 
                        in modo tale che sia vivibile ancora per migliaia di anni. Ognuno di noi, sebbene possa sembrare poco, è importante e insieme riusciremo 
                        a rendere questo mondo un posto migliore dove vivere per le prossime generazioni.
                    </p>
                    <p>Hai bisogno di un nostro intervento? Accedi al tuo profilo e inviaci una segnalazione cliccando qui sotto!</p>

                </div>
                <div class="right" id="desktophomepic"></div>
            </div>
            <div id="index_segnalazioni-button">
                <a href="inserisciSegnalazione.php">Invia segnalazione</a>
            </div>
        </main>
        <footer>
            <h3>Dai un'occhiata ai nostri partner</h3>
            <p>
                I nostri partner ci aiutano a garantire un servizio sempre migliore. Prova a dare loro un'occhiata.
            </p>
            <ul id="partnerList">
                <li id="partner_boseum" class="footericons"><a href="https://github.com/rmdevv/ProgettoTecWeb"><span lang="en">Partner: Boseum</span></a></li>
            </ul>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. Per un mondo più libero e verde.
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>