<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Accedi-Demeter</title>
        <meta name="keywords" content="Demeter, Raccolta, Rifiuti, Servizi, Accedi">
        <meta name="description" content="Servizio completo di trattamento dei rifiuti per ogni tipo di intervento. Garantiamo lavori rapidi, convenienti e a norma di legge">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <nav id="menu">
                <ul>
                    <li><a href="index.php"><span lang="en">Home</span></a></li>
                    <li><a href="calendario.php">Calendario</a></li>
                    <li><a href="servizi.php">Servizi</a></li>
                    <li><a href="doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="news.php"><span lang="en">News</span></a></li>
                    <li>Accedi</li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a lang="en" href="index.php">Home</a> &gt;&gt; <span lang="en"> Accedi</span></p>
            </nav>
        </header>
        <main id="content">
            <h2>Accedi</h2>
            <form action="login.php" method="post">
                <fieldset>
                    <legend>Dati</legend>
                    <label for="loginemail">Email</label>
                    <input type="email" id="loginemail" name="loginemail" placeholder="username">
                    <label for="loginpass">Password</label>
                    <input type="password" id="loginpass" name="loginpass" placeholder="password">
                    <input type="submit" value="Accedi" name="loginsubmit">
                </fieldset>
            </form>
            <span id="loginerror"></span>
        </main>
        <footer>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. <span>Per un mondo più libero e verde.</span>
            </p>
            <ul id="socialList">
                <li id="facebook"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>