<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Demeter</title>
        <meta name="keywords" content="Demeter, Raccolta, Rifiuti, Servizi">
        <meta name="description" content="Servizio completo di trattamento dei rifiuti per ogni tipo di intervento. Garantiamo lavori rapidi, convenienti e a norma di legge">
        <link rel="stylesheet" href="css/style.css" media="screen"> 
        <link rel="stylesheet" href="css/mini.css" media="only screen and (max-device-width: 768px)">      
    </head>
    <body>
        
    </body>
</html>