<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Servizi-Demeter</title>
        <meta name="keywords" content="Servizi Ecologici, Impianti, Smaltimento Rifiuti,Raccolta,Bonifiche Ambientali.Intervento">
        <meta name="description" content="Servizio completo di trattamento dei rifiuti per ogni tipo di intervento. Garantiamo lavori rapidi, convenienti e a norma di legge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mini.css" media="screen and (max-width:768px)">
        <link rel="stylesheet" href="css/print.css"  media="print">
        <script src="js/togglemenu.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#servizi_content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <button id="togglemenu" onclick="toggleMenu()">Apri menù</button>
            <nav id="menu" class="tmenuhidden">
                <ul>
                    <li><a href="index.php"><span lang="en">Home</span></a></li>
                    <li><a href="calendario.php">Calendario</a></li>
                    <li>Servizi</li>
                    <li><a href="doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="news.php"><span lang="en">News</span></a></li>
                    <li><a href="{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt;&gt; Servizi</p>
            </nav>
        </header>
        <main id="servizi_content" class="servizi">
            <h2>Servizi</h2>
            <section id="servizi_section1">
                <h3>Servizi di qualità nel rispetto delle norme di legge</h3>
                <div id="servizi_wrapper">
                    <div class="left">
                        <p>Sei in cerca di <strong> esperti nei servizi ecologici </strong>? Allora sei nel posto giusto!</p>
                        <p>L'impresa Demeter ha un'ampia esperienza nel settore e fornisce servizi che soddisfano <strong>elevati livelli di qualità</strong>, sempre <strong>nel pieno rispetto delle leggi vigenti</strong>.</p>
                    </div>
                    <div class="right"></div>
                </div>
            </section>  
            <section id="servizi_section2">
                <div class="servizi_container servizi_section2Content">
                    <div class="servizi_serviceDescription">
                        <h3>Servizi Ecologici Completi</h3>
                        <p>La nostra impresa si occupa in particolare di:</p>
                        <div class="sec2"></div>
                    </div>
                    <div class="servizi_serviceContainer">
                        <div class="servizi_serviceBoxContainer"> 
                            <h3><a href="servizi/impianti.php">Impianti di smaltimento e depurazione</a></h3>         
                        </div>
                        <div class="servizi_serviceBoxContainer">
                            <h3><a href="servizi/smaltimento.php">Smaltimento rifiuti</a></h3>
                        </div>
                        <div class="servizi_serviceBoxContainer">
                            <h3><a href="servizi/raccolta.php">Recupero e raccolta rifiuti</a></h3>
                        </div>
                        <div class="servizi_serviceBoxContainer">
                            <h3><a href="servizi/bonifiche.php">Bonifiche ambientali</a></h3>
                        </div>
                        <div class="servizi_serviceBoxContainer">
                            <h3><a href="servizi/intervento.php">Pronto intervento ambientale</a></h3> 
                        </div>
                    </div>
                </div>
            </section>
            <section id="servizi_section3">
                <h3>Scegli anche tu la nostra professionalità</h3>
                <p>L'azienda Demeter è situata in un contesto che riflette la nostra dedizione all'ambiente, la nostra sede è il 
                    luogo ideale per immergersi nella missione di <strong>gestire i rifiuti in modo responsabile</strong> ed ecocompatibile. <strong>Infrastrutture
                    moderne</strong>, <strong>personale qualificato</strong>, <strong>attrezzature e mezzi innovativi</strong> sono gli aspetti che ci permettono di offrire 
                    servizi di qualità e contribuiscono alla costante evoluzione della nostra attività. 
                    Siamo entusiasti di condividere la nostra passione per la sostenibilità ambientale
                    e di costruire insieme un futuro più verde. 
                </p>
            </section>
            <section id="servizi_section4">
                <h3>Perchè scegliere Demeter</h3>
                <div class="servizi_reasonContainer">
                    <div class="servizi_reasonBoxContainer">
                        <div class="servizi_reasonContent">
                            <h4>Impegno Ambientale</h4>
                            <p>Demeter si impegna attivamente nella promozione della sotenibilità ambientale. La nostra azienda adotta pratiche e tecnologie
                                avanzate per ridurre l'impatto ambientale della gestione dei rifiuti, contribuendo così alla conservazione dell'ambiente. 
                            </p>
                        </div>
                    </div>
                    <div class="servizi_reasonBoxContainer">
                        <div class="servizi_reasonContent">
                            <h4>Tecnologie innovative</h4>
                            <p>Utilizziamo tecnologie all'avanguardia per la raccolta, il riciclo e lo smaltimento dei rifiuti. Ciò ci consente di massimizzare l'efficienza operativa
                                e di garantire una gestione dei rifiuti sicura ed ecocompatibile. 
                            </p>
                        </div>
                    </div>
                    <div class="servizi_reasonBoxContainer">
                        <div class="servizi_reasonContent">
                            <h4>Personalizzazione dei servizi</h4>
                            <p>Comprendiamo che le esigenze di ogni cliente possono essere uniche. Per questo offriamo 
                                soluzioni personalizzate per adattarci alle specifiche necessità di ciascun cliente, garantendo un servizio 
                                flessibile e adatto alle singole circostanze. 
                            </p>
                        </div>
                    </div>
                    <div class="servizi_reasonBoxContainer">
                        <div class="servizi_reasonContent">
                            <h4>Affidabilità e professionalità</h4>
                            <p>Siamo orgogliosi della nostra reputazione. Il nostro team è composto da esperti nel settore che lavorano con dedizione per assicurare
                                ai clienti un servizio di alta qualità, puntuale e conforme agli standard normativi.  
                            </p>
                        </div>
                    </div>
                    <div class="servizi_reasonBoxContainer">
                        <div class="servizi_reasonContent">
                            <h4>Trasparenza e Comunicazione</h4>
                            <p>Presso Demeter crediamo nell'importanza della trasparenza e della comunicazione aperta 
                                con i nostri clienti. Forniamo informazioni dettagliate sui nostri processi e ci sforziamo di mantenere una comunicazione chiara
                                e tempestiva per garantire la massima soddisfazione. 
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <h3>Dai un'occhiata ai nostri partner</h3>
            <p>
                I nostri partner ci aiutano a garantire un servizio sempre migliore. Prova a dare loro un'occhiata.
            </p>
            <ul id="partnerList">
                <li id="partner_boseum" class="footericons"><a href="https://github.com/rmdevv/ProgettoTecWeb"><span lang="en">Partner: Boseum</span></a></li>
            </ul>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. Per un mondo più libero e verde.
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>