<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Impianti di Smaltimento e Depurazione-Demeter</title>
    <meta name="keywords" content="Impianti,Smaltimento,Stoccaggio,Depurazione,Recupero, Raccolta,Industrie,Liquidi,Aziende">
    <meta name="description" content="Servizio completo per lo smaltimento dei rifiuti attraverso impianti di depurazione.Servizio svolto in tempi rapidi con personali qualificato.">
    <link rel="stylesheet" href="../css/style.css" media="screen">
    <link rel="stylesheet" href="../css/mini.css" media="screen and (max-width:768px)">
    <link rel="stylesheet" href="../css/print.css"  media="print">
</head>
<body>

<header>
        <h1>Demeter</h1>
        <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
            <a href="#content">Vai al contenuto</a>
        </nav>
    <nav id="menu">
        <ul>
            <li><a href="index.php"><span lang="en">Home</span></a></li>
            <li><a href="calendario.php">Calendario</a></li>
            <li>Servizi</li>
            <li><a href="doveLoButto.php">Dove lo butto?</a></li>
            <li><a href="news.php"><span lang="en">News</span></a></li>
            <li><a href="{profilelink}">{profile}</a></li>

        </ul>


    </nav>

    
    <nav id="breadcrumb">
        <p>Ti trovi in: <a href = "index.php" lang="en">Home</a> &gt;&gt; <a href="servizi.php" lang="it">Servizi</a> &gt;&gt; Impianti di smaltimento e depurazione</p>
    </nav>

</header>


    <!-- ----------------INIZIO MAIN------------------ -->
    <main id="impianti_content" >
        <h2>Impianti</h2>

        <p><strong>Demeter</strong> opera nel campo della <strong>raccolta</strong> e dello <strong>smaltimento rifiuti</strong> con i suoi <strong>impianti di smaltimento e depurazione</strong>.</p>
        <p>Siamo in grado di offrire al cliente una <strong>soluzione completa</strong> per le sue esigenze di smaltimento:
            dallo stoccaggio di rifiuti speciali, alla cernita di rifiuti riciclabili, allo smaltimento di rifiuti solidi e liquidi, alla depurazione delle acque. 
        </p>

        

        <h3>Scegli l'impianto che si adatta alle tue esigenze</h3>

        <section class="impianti_menu-impianti">
            <div class="impianti_container">
                <ul>
                    <li><a class="button" href="#impianto1-wrapper">Stoccaggio provvisorio</a></li>
                    <li><a class="button" href="#impianto2-wrapper">Selezione e cernita rifiuti</a></li>
                    <li><a class="button" href="#impianto3-wrapper">Inertizzazione rifiuti pericolosi</a></li>
                    <li><a class="button" href="#impianto4-wrapper">Depurazione acque</a></li>
                </ul>
            </div>
        </section>



        <section class="impianti_impianti">
            <a href="../servizi/impianti.html"></a>
            <div class="impianti_impianti-container">
                <!-- -----IMPIANTO 1----- -->
                <div id="impianto1-wrapper">
                    <h2>Stoccaggio provvisorio</h2>
                    <div class="impianti_impianto-content">

                        <p>La ditta <strong>Demeter</strong> effettua stoccaggio provvisorio per <strong>rifiuti solidi speciali</strong> e <strong>assimilabili</strong>, pericolosi e non pericolosi. 
                            L'impianto di stoccaggio provvisorio è dotato di un trituratore per l'adeguamento volumetrico e ampi spazi per 
                            il deposito delle varie tipologie di rifiuti. 
                        </p>
                        <p>L'organizzazione <strong>Demeter</strong> permette un servizio completo sia per la raccolta e il trasporto, sia per le 
                            analisi chimiche che per lo smaltimento finale mediante il proprio impianto di stoccaggio provvisorio. 
                            Il servizio è svolto in tempi rapidi con personale specializzato e formato. 

                        </p>
                        <p>L'impianto è autorizzato per una moltitudine di tipologie di rifiuti per dare un servizio alla clientela completo.</p>

                        <h3>Strutture di proprietà per il deposito di rifiuti</h3>

                        <p>Demeter propone un servizio di stoccaggio dei rifiuti, in vista di futuro riciclaggio e smaltimento finale. 
                        </p>
                        <p>La procedura di smaltimento dei rifiuti, intrinsecamente molto delicata, può venire ulteriormente rallentata da imprevisti; 
                            in questi casi è indispensabile un <strong>impianto di stoccaggio provvisorio dei rifiuti</strong>,
                            dove questi possano essere tenuti in <strong>condizioni controllate</strong>, in attesa di poter procedere allo smaltimento definitivo. 
                        </p>

                        <h3>Sicurezza ed efficienza nel rispetto delle leggi</h3>
                        <p>Lo stoccaggio provvisorio dei rifiuti avviene in <strong>impianti autorizzati</strong>, in cui i materiali 
                            vengono sottoposti a <strong>controlli assicurati</strong> e disposti in <strong>aree e contenitori appositamente progettati</strong>, 
                            in modo da ridurre al minimo il rischio di contaminazione ambientale.
                        </p>



                    </div>
                    <div id="impianti_img1"></div>
                </div>
                <!-- ---FINE IMPIANTO 1--- -->

                <!-- -------IMPIANTO 2---- -->
                <div id="impianto2-wrapper">
                    <h2>Selezione e cernita rifiuti</h2>
                    <div class="impianti_impianto-content">
                        <p>La ditta Demeter è specializzata anche nel recupero di rifiuti con proprio impianto di <strong>selezione</strong> e <strong>cernita</strong>. 
                            L'impianto è attrezzato con pressa imballatrice per l'adeguamento volumetrico, compattatori, box,
                            e trituratore oltre a persone formate e addestrate impiegate a tali operazioni.
                        </p>
                        <p>Le tipologie di materie avviate al recupero sono le seguenti:</p>
                        <ul>
                            <li>Carta e cartone da macero</li>
                            <li>Scarti di legno</li>
                            <li>Rottami di ferro</li>
                            <li>Rottami non ferrosi</li>
                            <li>Plastica</li>
                        </ul>

                        <h3>Selezione dei rifiuti per il riciclaggio</h3>
                        <p>Tra i servizi offerti dall'azienda Demeter c'è la <strong>raccolta dei rifiuti speciali assimilabili agli urbani</strong> non pericolosi 
                            e il conferimento su proprio impianto per operazioni di <strong>selezione</strong>, <strong>cernita</strong> e <strong>compattazione</strong> ai fini del recupero. 
                        </p>
                        <p>L'attività è ottima in <strong>ottica ambientale</strong>, in quanto viene recuperato e avviato al riciclo il maggior quantitativo 
                            di rifiuti possibile, che altrimenti andrebbe smaltito in discarica. 
                        </p>
                        <h3>Partner ideale per industrie di ogni tipologia</h3>
                        <p>La procedura di <strong>recupero mediante cernita e riciclaggio dei rifiuti</strong> è una <strong>responsabilità sociale</strong>: ciò vale 
                            soprattutto per le aziende e per le industrie che spesso si trovano a produrre grandi quantità di rifiuti.
                        </p>
                        <p>Grazie ad una vasta esperienza e ad un <strong>parco macchine costantemente aggiornato</strong>, siamo in grado di gestire al meglio ogni tipologia di rifiuti,
                            operando sempre in sicurezza, nel rispetto delle norme di legge, nel segno della qualità. 
                        </p>
                    </div>
                    <div id="impianti_img2"></div>
                </div>
                <!-- ---FINE IMPIANTO 2--- -->

                <!-- -------IMPIANTO 3---- -->
                <div id="impianto3-wrapper">
                    <h2>Inertizzazione rifiuti pericolosi</h2>
                    <div class="impianti_impianto-content">
                        
                        <h3>Messa in sicurezza di rifiuti pericolosi</h3>
                        <p>E' possibile rivolgersi a <strong>Demeter</strong> per interventi di <strong>inertizzazione dei rifiuti industriali</strong>.</p>
                        <p>La procedura di inertizzazione prevede l’inglobamento delle sostanze inquinanti pericolose 
                        contenute nei rifiuti in una <strong>matrice inerte</strong>, congelandone il potenziale nocivo e diminuendone 
                        la pericolosità. 
                        </p>
                        <h3>Servizio di inertizzazione di alto profilo</h3>
                        <p>Il servizio di inertizzazione è rivolto a tutti i <strong>produttori di rifiuti e di fanghi industriali</strong> che non 
                        possono essere smaltiti direttamente in discarica, ma devono essere trattati- inertizzati per diminuirne 
                        la pericolosità. 
                        </p>
                        <p>L’<strong>impianto si inertizzazione</strong> permette lo <strong>smaltimento dei rifiuti a poca distanza dai luoghi di produzione</strong> delle industrie, 
                        senza dover ricorrere a trasporti di lunga distanza. 
                        </p>
                        <p>Attraverso il sopralluogo è possibile pianificare ogni fase dell’intervento in modo da valutarne ogni aspetto 
                        e per ottimizzare al meglio tempi e costi. 
                        </p>
                        <h3>Partner ideale per aziende ed enti pubblici</h3>
                        <p>Tale processo avviene tramite l’uso di sostanze chimiche ed è <strong>propedeutico allo smaltimento in discarica</strong> o , quando possibile, 
                        al recupero dei rifiuti. <strong>Demeter</strong> garantisce un servizio di inertizzazione dei rifiuti <strong>efficiente e sicuro</strong>, 
                        ideale soprattutto per aziende e industrie di grandi dimensioni. 
                        </p>
                    </div>
                    <div id="impianti_img3"></div>
                    
                </div>
                <!-- ---FINE IMPIANTO 3--- -->

                <!-- -----IMPIANTO 4----- -->
                <div id="impianto4-wrapper">
                    <h2>Depurazione acque</h2>
                    <div class="impianti_impianto-content">
                        
                        <h3>Acque pulite e depurate</h3>
                        <p>L’azienda <strong>Demeter</strong> offre interventi di <strong>trattamento delle acque reflue industriali</strong>. </p>
                        <p>Demeter dispone di un <strong>impianto di depurazione</strong> con metodo di trattamento chimico fisico ed effettua la 
                        raccolta dei rifiuti liquidi inquinati direttamente dal produttore al proprio impianto 
                        con automezzi propri. 
                        </p>
                        <p>Il trattamento delle acque reflue è <strong>obbligatorio</strong> per tutte quelle aziende le cui attività producono dei rifiuti liquidi pericolosi e non pericolosi. </p>
                        <h3>Impianto di depurazione ad alta tecnologia</h3>
                        <p>L'impianto di depurazione permette:</p>

                        <ul>
                            <li><strong>Rimozione di sostanze indesiderate tramite processo chimico</strong></li>
                            <li><strong>Concentrazione delle suddette sostanze in forma di fanghi</strong></li>
                            <li><strong>Smaltimento dei fanghi in discarica</strong></li>
                            <li><strong>Smaltimento finale delle acque di risulta dal trattamento</strong></li>
                        </ul>

                        <p>Demeter mette a disposizione una lunga esperienza nella depurazione delle acque, proponendosi come <strong>punto di riferimento</strong> per tutte le problematiche sullo smaltimento dei rifiuti industriali</p>
                    </div>
                    <div id="impianti_img4"></div>
                    
                </div>
                    
                <!-- ---FINE IMPIANTO 4--- -->
            </div>
        </section>

        
    


    </div>
    <!-- ------------------------------------------------- -->
    </main>
    <!-- -------------------FINE MAIN----------------- -->

    <!-- -------------------INIZIO FOOTER ------------ -->

    
    <footer>
        <h3>Segui i nostri canali social</h3>
        <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. <span>Per un mondo più libero e verde.</span>
        </p>
        <ul id="socialList">
            <li id="facebook"><a href=""><span lang="en">Facebook</span></a></li>
            <li id="instagram"><a href=""><span lang="en">Instagram</span></a></li>
            <li id="x"><a href=""><span lang="en">X</span></a></li>
        </ul>
    </footer>


    <!-- ----------------------FINE FOOTER ----------- -->
