<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Pronto Intervento Ambientale-Demeter</title>
    <meta name="keywords" content="Servizi,Inquinanti,Incidenti Stradali, Recupero,Sostanze,Macchinari,Urgenti,Automezzi,Professionisti">
    <meta name="description" content="Pronto intervento ambientale, servizio veloce e preciso nella totale sicurezza. ">
    <link rel="stylesheet" href="../css/style.css" media="screen">
    <link rel="stylesheet" href="../css/mini.css" media="screen and (max-width:768px)">
</head>
<body>

    <header>
        <h1>Demeter</h1>
        <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
            <a href="#content">Vai al contenuto</a>
        </nav>
    <nav id="menu">
        <ul>
            <li><a href="index.php"><span lang="en">Home</span></a></li>
            <li><a href="calendario.php">Calendario</a></li>
            <li>Servizi</li>
            <li><a href="doveLoButto.php">Dove lo butto?</a></li>
            <li><a href="news.php"><span lang="en">News</span></a></li>
            <li><a href="{profilelink}">{profile}</a></li>
        </ul>
    </nav>

    
    <nav id="breadcrumb">
        <p>Ti trovi in: <a href = "index.php" lang="en">Home</a> &gt; &gt; <a href="servizi.php" lang="it">Servizi</a> &gt; &gt; Pronto intervento ambientale</p>

    </nav>

</header>

    <!-- ----------------INIZIO MAIN------------------ -->
    <main id="intervento_content">
        <h2>Pronto intervento ambientale</h2>
        <h3>Team di professionisti attivo 24 ore su 24</h3>
        <p>L'azienda <strong>Demeter</strong> è sempre presente sul territorio e <strong>disponibile ad interventi urgenti</strong>
        , disponendo di uno staff qualificato e capace, in grado di trovare rapide soluzioni per ogni genere di problematica ambientale. </p>
        <p>Garantiamo un servizio veloce e preciso, nella totale sicurezza del nostro personale e dei nostri clienti, in quanto disponiamo di mezzi e macchinari di alta qualità e tecnologicamente avanzati, che assicurano un’azione immediata ed efficace.</p>
        <h3>Affidabilità, competenza, tempestività, convenienza</h3>
        <p>A seguire riportiamo i principali servizi che il team di Demeter opera in ambito di pronto intervento ambientale.</p>
        <ul>
            <li><strong>Pronto intervento in caso di inquinamenti</strong>,messa in sicurezza del sito.</li>
            <li><strong>Pronto intervento a seguito di incidenti stradali</strong> con il <strong>recupero delle sostanze inquinanti.</strong></li>
            <li>Vengono utilizzati mezzi attrezzati propri e una vasta gamma di <strong>prodotti e materiale per l'assorbimento degli inquinanti.</strong></li>
            <li><strong>Pulizia strade</strong> con automezzo dotato di attrezzatura all'avanguardia.</li>
        </ul>


    </main>
    <!-- -------------------FINE MAIN----------------- -->

    <!-- -------------------INIZIO FOOTER ------------ -->

    <footer>
        <h3>Segui i nostri canali social</h3>
        <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. <span>Per un mondo più libero e verde.</span>
        </p>
        <ul id="socialList">
            <li id="facebook"><a href=""><span lang="en">Facebook</span></a></li>
            <li id="instagram"><a href=""><span lang="en">Instagram</span></a></li>
            <li id="x"><a href=""><span lang="en">X</span></a></li>
        </ul>
    </footer>
    <!-- ----------------------FINE FOOTER ----------- -->