<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Recupero e Raccolta Rifiuti-Demeter</title>
        <meta name="keywords" content="Raccolta,Azienda,Parco Macchine, Servizio,Carta, Ferro,Container, Legno,Nylon,Riciclo">
        <meta name="description" content="Servizio di recupero e gestione dei rifiuti svolto da professionisti con attrezzature di ultima generazione.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css" media="screen">
        <link rel="stylesheet" href="../css/mini.css" media="screen and (max-width:768px)">
        <link rel="stylesheet" href="../css/print.css"  media="print">
        <script src="../js/togglemenu.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#raccolta_content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <button id="togglemenu" onclick="toggleMenu()">Apri menù</button>
            <nav id="menu" class="tmenuhidden" aria-label="Menù principale">
                <ul>
                    <li><a href="../index.php"><span lang="en">Home</span></a></li>
                    <li><a href="../calendario.php">Calendario</a></li>
                    <li>Servizi</li>
                    <li><a href="../doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="../news.php"><span lang="en">News</span></a></li>
                    <li><a href="../{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb" aria-label="Breadcrumb">
                <p>Ti trovi in: <a href = "../index.php" lang="en">Home</a> &gt;&gt; <a href="../servizi.php" lang="it">Servizi</a> &gt;&gt; Recupero e raccolta rifiuti</p>
            </nav>
        </header>
        <main id="raccolta_content">
            <h2>Recupero e raccolta</h2>
            <h3>Interventi di raccolta personalizzati</h3>
            <p>
                Demeter è un punto di riferimento nel <strong>recupero e gestione dei rifiuti</strong>. Le operazioni legate al recupero di rifiuti sono sottoposte a controlli 
                sempre più severi e devono attenersi ai regolamenti vigenti in materia di ambiente. Per questo è necessario rivolgersi a dei professionisti.
            </p>
            <p>
                Sempre più aziende si rivolgono a Demeter per operazioni di recupero e raccolta di rifiuti: mettiamo a disposizione attrezzature di ultima generazione 
                ed un parco macchine completo, garantendo così interventi rapidi ed efficienti. La rapidità dell’operazione si traduce in un’<strong>ottimizzazione dei costi</strong> a 
                fronte di un <strong>servizio di alta qualità</strong>.
            </p>
            <h3>Servizio versatile di raccolta e recupero rifiuti</h3>
            <p>
                Il servizio di recuper e raccolta rifiuti proposto da Demeter si distingue per l'alto livello di versatilità. L'azienda sviluppa <strong>interventi personalizzati</strong> 
                per aziende,privati,enti pubblici, industrie: ad ogni cliente vengono messi a disposizione mezzi e attrezzature specifiche per ogni esigenza, così da portare a termine il recupero di rifiuti nelle modalità più rapide anche grazie agli <strong>impianti efficienti</strong> disponibili.</p>
            <p>Ci occupiamo in particolare di:</p>
            <ul>
                <li><strong>Raccolta di carta e cartone;</strong></li>
                <li><strong>Raccolta di ferro,rifiuti metallici,ferro vecchio;</strong></li>
                <li><strong>Raccolta e riciclo di legno;</strong></li>
                <li><strong>Raccolta di nylon.</strong></li>
            </ul>
            <h3>Noleggio cassoni e container</h3>
            <p>
                Demeter mette a disposizione anche il servizio di <strong>noleggio container</strong> per la raccolta di suddetti materiali. Grazie 
                all'esperienza accumulata negli anni, forniamo al cliente tutto il necessario per <strong>impostare la procedura di raccolta di carta,legno ferro e nylon</strong>,provvedendo poi a gestire la raccolta. </p>
            <p>Desideri maggiori informazioni? <strong>Contattaci al più presto!</strong></p>
            <div id="TornaSu">
                <button onclick="ToTopFunction()" id="scrollTopBtn" title="Torna su">
                  Torna su
                </button>
            </div>
        </main>
        <footer>
            <h3>Dai un'occhiata ai nostri partner</h3>
            <p>
                I nostri partner ci aiutano a garantire un servizio sempre migliore. Prova a dar loro un'occhiata.
            </p>
            <ul id="partnerList">
                <li id="partner_boseum" class="footericons"><a href="https://github.com/rmdevv/ProgettoTecWeb" target="_blank"><span lang="en">Partner: Boseum</span></a></li>
            </ul>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. Per un mondo più libero e verde.
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href="https://www.facebook.com/profile.php?id=61556075761820" target="_blank"><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href="https://www.instagram.com/demeter_23_24/" target="_blank"><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href="../p404.html"><span lang="en">X</span></a></li>
            </ul>
            <p class="copyright">
                Gallo Edoardo, Gusatto Derek, Margarit Ane-Marie, Nardo Silvio - <span lang="en">Copyright</span> Demeter
                &copy; </currentDate>
            </p>
        </footer>
    </body>
</html>