<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Smaltimento Rifiuti-Demeter</title>
        <meta name="keywords" content="Smaltimento,Sostanze Particolari, Servizio Efficiente,Liquidi,Raccolta,Recupero,Servizi,Aziende,Riciclaggio,Trasporto,Normative">
        <meta name="description" content="Gestione dello smaltimento di rifiuti industriali liquidi e solidi provenienti da qualsiasi attività industriale.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css" media="screen">
        <link rel="stylesheet" href="../css/mini.css" media="screen and (max-width:768px)">
        <link rel="stylesheet" href="../css/print.css"  media="print">
        <script src="../js/togglemenu.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <button id="togglemenu" onclick="toggleMenu()">Apri menù</button>
            <nav id="menu" class="tmenuhidden">
                <ul>
                    <li><a href="../index.php"><span lang="en">Home</span></a></li>
                    <li><a href="../calendario.php">Calendario</a></li>
                    <li>Servizi</li>
                    <li><a href="../doveLoButto.php">Dove lo butto?</a></li>
                    <li><a href="../news.php"><span lang="en">News</span></a></li>
                    <li><a href="../{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a href = "../index.php" lang="en">Home</a> &gt;&gt; <a href="../servizi.php" lang="it">Servizi</a> &gt;&gt; Smaltimento rifiuti </p>
            </nav>
        </header>
        <main id="smaltimento_content-wrapper">
            <h2>Smaltimento</h2>
            <h3>Smaltimento di rifiuti di ogni tipologia</h3>
            <p>
                Demeter è tra le prime aziende in ambito di gestione e smaltimento dei rifiuti pericolosi e non pericolosi.La raccolta dei rifiuti ed il riciclaggio di materie 
                prime è ad oggi una questione fondamentale, soprattutto per le aziende di grandi dimensioni.
            </p>
            <p>
                Un servizio efficiente ed efficace di trasporto e smaltimento di rifiuti deve rispondere alle normative 
                sempre più severe ed alle esigenze logistiche del cliente: è pertanto necessario rivolgersi a 
                <strong>ditte specializzate</strong> quali Demeter, in grado di operare al meglio senza rallentare in alcun modo l’attività lavorativa.
            </p>
            <h3>I servizi disponibili nel dettaglio</h3>
            <ul>
                <li>Smaltimento rifiuti</li>
                <li>Trasporto</li>
                <li>Trattamento di depurazione rifiuti liquidi</li>
                <li>Trattamento di inertizzazione rifiuti solidi</li>
                <li>Recupero di cartone,nylon,legno,ferro</li>
                <li>Trattamento di cernita e selezione rifiuti assimilabili al fine del recupero</li>
                <li>Trattamento di miscelazione rifiuti solidi</li>
                <li>Trattamento di triturazione</li>
                <li>Stoccaggio di rifiuti speciali pericolosi e non pericolosi</li>
            </ul>
            <div id="smaltimento_img1"></div>
            <h3>Smaltimento di rifiuti industriali in piena sicurezza</h3>
            <p>
                Inoltre Demeter svolge l’attività di smaltimento di rifiuti industriali. Si tratta di una fase 
                necessaria per tutte le industrie le cui attività comprendono degli scarti, spesso di materiali o 
                sostanze particolari, talvolta pericolose, che non possono in alcun modo essere liberate nell’ambiente.
            </p>
            <p>
                Ogni procedura di <strong>smaltimento di rifiuti industriali</strong> deve rientrare nei <strong>termini previsti dalla legge</strong>, 
                rispondendo a <strong>parametri di sicurezza ambientale</strong> ben determinati. Tali regolamenti sono spesso soggetti a cambiamento, 
                ed è quindi necessario appoggiarsi ad un’azienda per lo smaltimento dei rifiuti costantemente aggiornata e dotata di ogni <strong>autorizzazione di intervento</strong>, 
                così da non incorrere in pesanti sanzioni.
            </p>
            <h3>Tempi contenuti e tariffe concorrenziali</h3>
            <p>
                Ogni intervento inizia con un’<strong>analisi delle caratteristiche e delle esigenze del cliente</strong>, sulla base delle quali sviluppiamo 
                <strong>soluzioni innovative</strong>, facendo l’uso migliore delle risorse a disposizione e garantendo il miglior rapporto qualità/prezzo.
            </p>
            <p>
                Siamo in grado di gestire lo smaltimento di rifiuti industriali liquidi e solidi provenienti da qualsiasi attività industriale. 
                Lo smaltimento di rifiuti include le fasi di <strong>raccolta</strong>, <strong>selezione e cernita</strong> (finalizzata al recupero e al riciclaggio), <strong>triturazione, 
                miscelazione, inertizzazione, smaltimento</strong>.
            </p>
            <p>Desideri maggiori informazioni? <strong>Contattaci subito!</strong></p>
        </main>
        <footer>
            <h3>Dai un'occhiata ai nostri partner</h3>
            <p>
                I nostri partner ci aiutano a garantire un servizio sempre migliore. Prova a dare loro un'occhiata.
            </p>
            <ul id="partnerList">
                <li id="partner_boseum" class="footericons"><a href="https://github.com/rmdevv/ProgettoTecWeb"><span lang="en">Partner: Boseum</span></a></li>
            </ul>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. Per un mondo più libero e verde.
            </p>
            <ul id="socialList">
                <li id="facebook" class="footericons"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram" class="footericons"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x" class="footericons"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>